<form method="post"  action="{% url 'delete_account' %}" class="js-delete-account-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete your account</h4>
    </div>
    <div class="modal-body">
        <h4>Are you sure you want to delete your One Planet Rating account?</h4>
        <p>By deleting your account you lose all your ratings, reviews , likes and dislikes and you
        are no longer able to review a place unless you create a new account.</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</form>