<form method="post"  action="{% url 'delete_profile_picture' %}" class="js-delete-profile-pic-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Remove profile photo</h4>
    </div>
    <div class="modal-body">
        Are you sure you want to remove your profile photo?
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Remove</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</form>