{% load widget_tweaks %}
{% for field in form %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {% render_field field class="form-control" placeholder=field.label%}
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
</div>
{% endfor %}