{% load widget_tweaks %}
<form method="post" action="{% url 'update_profile'  form.instance.user.pk %}" class="js-update-profile-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Update your profile details</h4>
    </div>
    <div class="modal-body">
        {% include 'dashboard/includes/partial_dashboard_template.html' %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update profile</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
    </div>
</form>