{% load widget_tweaks %}
<form method="post"  enctype = "multipart/form-data" action="{% url 'upload_profile_picture'%}" class="js-upload-profile-pic-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Select a profile picture </h4>
    </div>
    <div class="modal-body">
        {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            {% render_field field  class="form-control"%}
            {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <img class="image_upload_preview" id="image_upload_preview" src="https://placehold.it/100x100" alt="profile image" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Upload</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
    </div>
</form>

