{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="wrapper">
<div class="help-center-box">
<div class="container article-box">


    <ol class="breadcrumb col-md-12 ">
        <li><a href="{% url 'help_center' %}">FAQ</a></li>
        <li class="active">{{helpcategory.title}}</li>
    </ol>

    <div class="page-header col-md-12 col-xs-12">
        <h2>{{helpcategory.title}}</h2>
    </div>

    <div class="row">

            <div class="col-md-8 col-sm-8 col-xs-12 pull-left">
            {% for article in helpcategory.helparticle_set.all%}
                <button class="accordion help-accordion"><div>{{article.title}}</div><i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
            <div class="panel-accordion">
                    <p class="content">
                        {% render_field article.content %}
                    </p>
            </div>
            {%endfor %}
            </div>


    </div>
</div>
</div>
</div>
{% endblock %}