{% extends 'base.html' %}
{% block content %}
<div class="help-center-box">
<div class="jumbotron help-center-header">
    <h3>Frequently Asked Questions</h3>
</div>

<div class="container">
<div class="row" style="margin: auto; margin-top: 1.5%;">

        {% for h_category in help_categories %}
    <a class="help-category-link" href="{% url 'help_center_detail' h_category.id %}">
        <div class=" help-category-item card  col-md-3 col-xs-12 col-sm-6">
            <div class="card-block">
                    <span class="help-item-title">{{h_category.title}}</span>
            </div>
        </div>
    </a>
    {%endfor%}
</div>
</div>
</div>
{% endblock %}