{% extends 'base.html' %}
{% block content %}
<div class="help-center-box">
    <div class="jumbotron help-center-header">
        <h3>{{legal.title}}</h3>
    </div>

    <div class="container">
        <div class="row" style="margin: auto; margin-top: 1.5%;">
          {{legal.content|safe}}
        </div>
    </div>
</div>
{% endblock %}