<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    {% load i18n %}
    {% load tags %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://{{get_site_url}}{% static 'css/email_welcome.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="text-center">
        <div class="col-md-12 welcome-title"  style="text-align: center;  padding-top: 30px;
    padding-bottom: 20px;">
            <h1 style="  font-family: 'Roboto', sans-serif;" class="text-center">Welcome to</h1>
        </div>

        <div class="col-md-6 col-md-offset-3" style="width: 50%;margin-left: 30%;">
            <img src="cid:logo-side-text.png" alt="opr-logo" class="brand-logo" style="width: 75%;">
        </div>

        <div class="col-md-12 username-title" style="padding-top: 0px; text-align: center;">
            <h1>{{user.get_full_name}}</h1>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 aurora-img text-center" style="width: 100%">
        <img src="cid:aurora_with_5_activities.png" alt="aurora image" class="img-responsive"  style="width: 100%">
    </div>

    <div class="col-md-6 col-md-offset-1 content text-center" style="padding: 0px 10px 20px 12px;">
        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            Welcome to One Planet Rating - the world's first ratings and review platform dedicated exclusively to sustainable travel and tourism.</p>
        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            Join our movement! Start rating and reviewing places and activities around the world. We'd love to hear all about cities, beaches, hotels and restaurants from you.</p>
        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            Help us preserve the marvels of the world and keep them authentic and accessible. Together we can make travel better, one review at a time.
        </p>

        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            Your voice makes a difference and your choices matter. Make the right one. Explore, not Exploit!
        </p>

        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            To <a href="http://{% get_site_url %}{% url 'registration_activate' activation_key %}">activate your account</a> on One Planet Rating please visit:
            http://{% get_site_url %}{% url 'registration_activate' activation_key %}
            {% blocktrans %}<br>Activation link is active for ({{ expiration_days }}) days.{% endblocktrans %}</p>
    </div>

    <hr class="col-md-10 col-md-offset-1" style="
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-color: #356a70;
    border-width: 2px;">
    <div class="col-xs-12 text-center links" style="font-size: 18px; padding: 0px 10px 0px 15px; text-align:center;">
        Go to
        <a href="http://{% get_site_url %}" target="_blank" style="color: black; text-decoration: none;">OPR</a> |
	<a href="http://{% get_site_url %}/help/category/3" target="_blank" style="color: black; text-decoration: none;">FAQ</a> |
        <a href="http://{% get_site_url %}/legal/privacy" target="_blank" style="color: black; text-decoration: none;">Privacy Policy</a> |
        <a href="http://www.oneplanetrating.com/" target="_blank" style="color: black; text-decoration: none;">Corporate site</a>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center icons" style="padding-top: 15px; text-align: center; padding-bottom: 70px;">
        <a href="https://www.facebook.com/oneplanetrating/" target="_blank"><img style="height: 50px;padding: 20px;" src="cid:facebook-email.png" alt="facebook"></a>
        <a href="https://twitter.com/OnePlanetRating" target="_blank"><img style="height: 50px;padding: 20px;" src="cid:twitter-email.png" alt="twitter" ></a>
        <a href="https://www.instagram.com/oneplanetrating/" target="_blank"><img style="height: 50px;padding: 20px;" src="cid:instagram-email.png" alt="instagram"></a>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>

