{%extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{%block links %}
<link rel="stylesheet" href="{% static '/css/bootstrap-social.css' %}">
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{%endblock links %}
{%block content %}
<div class="wrapper register-login-wrapper">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="panel panel-form">
                <div class="panel-body">

                            <form name="form1" id="login-form" action="" method="post" role="form">
                                {%csrf_token%}
                                <div class="row text-center">
                                    <a class="logo-container" href="#">
                                        <center><img class="smaller-image" src="{% static 'svg/glob-full-title.svg' %}"></center>
                                    </a>
                                </div>

                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}


                                {% for field in form %}
                                <div class="form-group{% if field.errors %} has-error{% endif %}">
                                  {% render_field field class="form-control" placeholder=field.label%}
                                </div>
                                {%endfor%}



                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6 checkbox">
                                            <input id="remember-me" type="checkbox" name="remember">
                                            <label for="remember-me" tabindex="3">Remember Me</label>
                                        </div>
                                        <div class="col-xs-6 form-elm-right">
                                            <a href="{% url 'password_reset' %}" id="forgot" tabindex="4">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <input type="submit" name="login-submit" id="login-submit" tabindex="5" class="form-control btn form-button" value="Login">
                                </div>



                                <div class="form-group">
                                    <div class="text-in-line">
                                        <span>Or continue with:</span>
                                    </div>
                                    <div class="social-media-container">
                                        <a href="#" tabindex="6" class="btn social-button" data-toggle="tooltip" data-placement="top" title="Coming soon"><i class="fa fa-google"></i></a>
                                        <a href="#" tabindex="7" class="btn social-button" data-toggle="tooltip" data-placement="top" title="Coming soon"><i class="fa fa-facebook"></i></a>
                                        <a href="#" tabindex="8" class="btn social-button" data-toggle="tooltip" data-placement="top" title="Coming soon"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>


                            </form>
                </div>



                <div class="panel-footer">
                    <a tabindex="9" href="{% url 'registration_register' %}">
                        <div class="panel-footer-content">Not a member? Register here.</div>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}