{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="wrapper register-login-wrapper">
    <div class="container">
        <div class="row">
<p>
    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
</p>
        </div>
    </div>
</div>
{% endblock %}