{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{%block title%}{%endblock title %}
{%block links %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
<link rel="stylesheet" href="{% static '/css/bootstrap-social.css' %}">
{%endblock links %}
{%block content %}
<div class="wrapper register-login-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                <div class="panel panel-form">
                    <div class="panel-body">

                        <form name="forgot-password-form"  action="" method="post" id="forgot-password-form">
                            <div class="row text-center">
                                <a class="logo-container" href="../home.html">
                                    <img class="img-responsive" src="{% static 'svg/glob-full-title.svg' %}" alt="logo">
                                </a>
                            </div>
                            <div class="form-group text-center">
                                <p>Enter your e-mail address to reset your password.</p>
                            </div>

                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                {% render_field field class="form-control" placeholder=field.label%}
                            </div>
                            {%endfor %}

                            <div class="form-group">
                                <input type="submit" name="login-submit" id="login-submit" tabindex="5" class="form-control btn form-button" value="Send Link">
                            </div>


                            <p class="text-center">
                                <a href="{% url 'login' %}" class="active" id="login-form-link">Back to Login</a>
                            </p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{%endblock %}