{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{%block links %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
<link rel="stylesheet" href="{% static '/css/bootstrap-social.css' %}">
{%endblock links %}
{% block content %}
<div class="wrapper register-login-wrapper">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 main-panel">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form name="form1" id="login-form" action="#" method="post" role="form">
                                <div class="row text-center">
                                    <a class="logo-container" href="../home.html">
                                        <img class="img-responsive" src="{% static 'svg/glob-full-title.svg' %}" alt="logo">
                                    </a>
                                </div>
                                <div>
                                    <p class="text-center confirm-style space">Thanks for filling out our form</p>
                                    <p class="text-center confirm-style space"><i class="glyphicon glyphicon-envelope check"></i></p>
                                    <p class="text-center simple-text space">A confirmation e-mail has been sent to you </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}