{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{%block links %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
<link rel="stylesheet" href="{% static '/css/bootstrap-social.css' %}">
{%endblock links %}
{%block content %}
<!-- new section -->
<div class="wrapper register-login-wrapper">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
            <div class="panel panel-form">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form name="form2" id="register-form" action="" method="post" role="form">
                                <div class="row">
                                    <a class="logo" href="#">
                                        <center><img class="smaller-image" src="{% static 'svg/glob-full-title.svg' %}" alt="logo"></center>
                                    </a>
                                </div>
                                {%csrf_token%}


                                {% for error in form.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}



                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}





                                {% for field in form %}

                                {% if field.label == "Date of birth" %}
                                <div class="form-group">
                                    <div class="input-group date" id="datepicker" data-date="" data-date-format="yyyy-mm-dd">
                                        {% render_field field class="form-control" placeholder=" Date of birth (yyyy-mm-dd)" %}
                                        <span class="input-group-addon add-on no-border"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>

                                {%else%}
                                <div class="form-group">
                                    {% render_field field class="form-control" placeholder=field.label%}
                                </div>


                                {%endif%}

                                {%endfor%}

                                <div class="form-group">
                                    <p><input type="checkbox" required> I agree to the <a href="{% url 'terms_of_service'%}">Terms of Use </a> and <a  href="{% url 'privacy_policy'%}">Privacy Policy</a></p>
                                </div>



                                <div class="form-group">
                                    <input type="submit" name="register-submit" id="register-submit" tabindex="5" class="form-control btn form-button" value="Create An Account">
                                </div>





                                <div class="form-group">
                                    <div class="text-in-line">
                                        <span>Or register with:</span>
                                    </div>
                                    <div class="social-media-container">
                                        <a href="#" tabindex="6" class="btn social-button" data-toggle="tooltip" data-placement="top" title="Coming soon"><i class="fa fa-google"></i></a>
                                        <a href="#" tabindex="7" class="btn social-button" data-toggle="tooltip" data-placement="top" title="Coming soon"><i class="fa fa-facebook"></i></a>
                                        <a href="#" tabindex="8" class="btn social-button" data-toggle="tooltip" data-placement="top" title="Coming soon"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>


                        <div class="panel-footer">
                            <a tabindex="9" href="{% url 'login' %}">
                                <div class="panel-footer-content">Already a member? Login here.</div>
                            </a>
                        </div>


            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}