{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load tags %}
{% load mptt_tags %}

{%block links %}

<link href=" {% static 'css/sidebar.css' %}" rel="stylesheet">

{%endblock links %}

{%block main %}

{% include "oprapp/search_bar.html" %}



<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-form">
                <div class="panel-body">
                    <div>
                        <div id="service-helper"></div>
                    </div>

                    <form method="post" action="" id="review-form" enctype="multipart/form-data">
                        <input type="hidden" id="reviewed_item" value="{{form.reviewed_item}}">

                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}

                        <div class="col-md-12">

                            <div class="row review-form-line">
                                <div id="main-image" class="col-md-3 col-sm-3">
                                </div>
                                <div class="col-md-9 col-sm-9 hotel-header">
                                    <a href="/element/{{form.reviewed_item}}"><h3 id="review_item_name"></h3></a>
                                    <h5 id="reviwed_item_address"></h5>
                                    <input type="hidden" id="reviewed_item_id" value="{{form.reviewed_item}}">
                                </div>
                            </div>


                            <br>
                            <div class="text-under-line">
                                <h4>Thank you for sharing your experience!</h4>
                            </div>
                            <br>

                            <!-- general category -->
                            <div class="review-form-line generic-rating-wrapper">
                                {% get_all_rating_categories as rating_categories %}

                                {% for field in form %}
                                {% if field.label == "General" %}
                               {% get_rating_cat_desc field.name form.reviewed_item as tooltip_text %}

                                <label style="float:left;">{{field.label}} Sustainability Rating</label>
                                <div class="general-rating">

                                    <div class=" categories category" id="{{field.name}}">
                                        <!-- <span class="tooltiptext">Tooltip text</span> -->

                                        <div id="general_rating" class="fieldWrapper rating" data-toggle="tooltip" data-placement="top" title="{{tooltip_text}}">
                                            <input   class="rating-input" id="{{ field.name }}_0" name="{{ field.name }}" type="radio" value="5"/>
                                            <label   for="{{ field.name }}_0" class="rating-star">5</label>
                                            <input class="rating-input" id="{{ field.name }}_1" name="{{ field.name }}" type="radio" value="4"/>
                                            <label   for="{{ field.name }}_1" class="rating-star">4</label>
                                            <input   class="rating-input" id="{{ field.name }}_2" name="{{ field.name }}" type="radio" value="3"/>
                                            <label   for="{{ field.name }}_2" class="rating-star">3</label>
                                            <input   class="rating-input" id="{{ field.name }}_3" name="{{ field.name }}" type="radio" value="2"/>
                                            <label   for="{{ field.name }}_3" class="rating-star">2</label>
                                            <input   class="rating-input" id="{{ field.name }}_4" name="{{ field.name }}" type="radio" value="1"/>
                                            <label   for="{{ field.name }}_4" class="rating-star">1</label>
                                        </div>
                                        <button class="button-as-link clear-button pull-right" data-toggle="tooltip" data-placement="right" title="Reset your rating"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        <i id ="general-info"  class="fa fa-info" aria-hidden="true"></i>
                                         <p class="validation-text"> Please rate general sustainability.</p>
                                    </div>

                                </div>

                                <div class="general-info-box">
                                    <ul>
                                        <li> 5 Globes ( Excellent)</li>
                                        <li> 4 Globes ( Good) </li>
                                        <li> 3 Globes ( Average)</li>
                                        <li> 2 Globes ( Fair)  </li>
                                        <li> 1 Globe ( Poor)  </li>
                                    </ul>
                                </div>


                                {%endif%}
                                {%endfor%}
                            </div>

                            <!-- general category end -->

                            {%for field in form %}

                            {% if field|input_type != "Select" %}

                            <!-- json data helper -->
                            {% if field.label != "Json data helper" %}
                            <div class="review-form-inline">
                                <label for="id_Title">{{ field.label }}</label>
                            </div>
                            {%endif%}
                            <!-- json data helper end -->

                            <div class="row review-form-line">
                                {% if field|input_type != "Select" %}
                                {% if field.label == "When" %}
                                <div class="input-group date input-email" id="datepicker" data-date="" data-date-format="yyyy-mm-dd">
                             {% render_field field placeholder="yyyy-mm-dd" %}
                                    <span class="input-group-addon add-on">
                                    <span class="fa fa-calendar"></span>
                                        </span>
                                </div>
                                <p class="validation-text"> Please define a visit date.</p>

                                {%elif field.label == "Type" %}
                                 <div id="typeSelect">
                                 {% render_field field%}
                                  <p class="validation-text"> Please select a visit type.</p>
                                 </div>
                                {%else%}
                                {% render_field field %}
                                {%endif%}
                                {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                                {%endfor%}
                                {%endif%}
                            </div>

                            {%endif %}
                            {% endfor %}
                            <br>

                            <div class="text-under-line">
                                <h4>Please tell us more about it</h4>
                            </div>



                        <!-- rating categories start -->



                        <div class="row review-form-line">

                            <div id="wrapper">
                                <div id="sidebar-wrapper">

                                </div>
                            <div id="page-content-wrapper">
                            <div class="detailed-rating-wrapper">
                                {% load mptt_tags %}
                                <ul style="padding:0px;">

                                    {% recursetree rating_categories %}

                                    <li name="category-{{node.name}}" class="col-sm-10 col-md-10 col-xs-12" style="{%if node.is_leaf_node%}padding:0px;{%endif%}">
                                        {%if node.name != "General"%}
                                        {% get_rating_cat_desc node.pk form.reviewed_item as tooltip_text %}
                                        <button class="accordion cat-accordion cat-accordion-review {% if not node.is_leaf_node%}closing-sidebar{%endif%}">{% if not node.is_leaf_node %}<i class="glyphicon glyphicon-menu-down"></i>{%endif%} {{ node.name }}</button>
                                        <span>
                                            <!-- <span class="tooltiptext">Tooltip text</span> -->
                                            <div id="rat_cat_{{node.pk}}" class="fieldWrapper rating" data-toggle="tooltip" data-placement="top" title="{{tooltip_text}}">
                                                <input class="rating-input {% if node.is_leaf_node%}rate-sidebar {{node.name}} {%endif%}" id="category_{{node.pk}}_0" name="category_{{node.pk}}" type="radio" value="5"/>
                                                <label for="category_{{node.pk}}_0" class="rating-star">5</label>
                                                <input class="rating-input {% if node.is_leaf_node%}rate-sidebar {{node.name}} {%endif%}" id="category_{{node.pk}}_1" name="category_{{node.pk}}" type="radio" value="4"/>
                                                <label for="category_{{node.pk}}_1" class="rating-star">4</label>
                                                <input class="rating-input {% if node.is_leaf_node%}rate-sidebar {{node.name}} {%endif%}" id="category_{{node.pk}}_2" name="category_{{node.pk}}" type="radio" value="3"/>
                                                <label for="category_{{node.pk}}_2" class="rating-star">3</label>
                                                <input class="rating-input {% if node.is_leaf_node%}rate-sidebar {{node.name}} {%endif%}" id="category_{{node.pk}}_3" name="category_{{node.pk}}" type="radio" value="2"/>
                                                <label for="category_{{node.pk}}_3" class="rating-star">2</label>
                                                <input class="rating-input {% if node.is_leaf_node%}rate-sidebar {{node.name}} {%endif%}" id="category_{{node.pk}}_4" name="category_{{node.pk}}" type="radio" value="1"/>
                                                <label for="category_{{node.pk}}_4" class="rating-star">1</label>
                                            </div>
                                            <button class="button-as-link clear-button pull-right" data-toggle="tooltip" data-placement="left" title="Reset your rating"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        </span>
                                        {%endif%}
                                        {% if not node.is_leaf_node %}
                                        <div class="panel-accordion cat-panel-accordion">
                                            <ul class="children" style="padding:0px;">
                                                {{ children }}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </li>
                                    {% endrecursetree %}
                                </ul>
                            </div>
                            </div>
                            </div>
                        </div>
                        <!-- rating categories end -->



                        <br>
                        <div class="col-md-8 col-md-offset-4 col-xs-12 col-xs-offset-2">
                            <input type="submit" value="Submit your review" class="btn btn-info show-on-map">
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block js%}

<script src="{% static 'js/sidebar.js' %}" ></script>
<script src="{% static 'js/review-form-autofill.js' %}" ></script>

<script type="text/javascript">

          setUpReviewForm();


        window.getRelevantGoogleReviews = function () {
            var service = new google.maps.places.PlacesService($('#service-helper').get(0)); // note that it removes the content inside div with tag '#service-helper'

            placeID = $("#reviewed_item_id").val();

            service.getDetails({
                placeId: placeID  // get a placeId using https://developers.google.com/places/web-service/place-id
            }, function (place, status) {

                $("#review_item_name").html(place.name)
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    var resultcontent = '';

                    // get images
                             mainImage = place.photos[0];
                             // get image url
                             rawImgUrl = mainImage.getUrl({'maxWidth':400});
                             // solve the bug
                             ImgUrl =rawImgUrl.replace('w400-', '');

                    $("#reviwed_item_address").html(place.formatted_address)
                    $('#main-image').append('<img class="smaller-image" src="' +ImgUrl + '"  style="height:100px;"/>');

                }
            });
        }

        $(document).ready(function (){
            getRelevantGoogleReviews();
            $("#id_json_data_helper").attr("type","hidden");
            // hide parent
            $("#id_json_data_helper").parent().css("display", "none");
            $("#id_when").removeAttr( "required");
            getUrlParams();
        });

        function getUrlParams(){
        var url = window.location.href;
        var params = url.split('/');
        type = params.slice(-1).pop();
        options = $("#selector option");
        for ( i =0; i<options.length; i++){
        if (options[i].value == type){
        options[i].selected = true;
        break;
        }
        }
        }

    </script>

{%endblock js%}
