{% extends "base.html" %}
{% load i18n %}
{% load view %}
{% load tags %}
{% load staticfiles %}
{% load review_tags %}


{%block facebookmetatags%}
<meta property="fb:app_id" content="247106882481432"/>
<meta property="og:site_name" content="One Planet Rating">
<meta property="og:url" content="https://www.oneplanetrating.org">
<meta property="og:type" content="website" />
<meta property="og:title" content="title of review">
<meta property="og:description" content="opr description text">
<meta property="og:image" content="https://www.oneplanetrating.org/test.jpg" >
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:width" content="1200" />
<meta name="twitter:image:height" content="630" />
{%endblock facebookmetatags%}


{% block main %}

{% include "oprapp/search_bar.html" %}


<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-form">
                    <div class="panel-body">
                        <div class="col-md-12">

                            <div class="text-center text-under-line">
                                <h3>Thanks for posting a review!</h3>
                                <h4 style="color:#3198cc;">You're saving the world, one review at a time</h4>
                            </div>


                            <div class="col-md-12">
                                <input type="hidden" id="reviewed_item_id" value="{{object.reviewed_item}}">
                                <h4>This is a summary of your ratings for <a id="reviewed_element_link" href=""><span id="review_item_name"></span></a></h4>
                            </div>

                            <div class="summary-review">
                                <div class="col-md-5">

                                    {% if object.content %}
                                    <h4> <span class="review__user_name">{{ object.get_user }}</span>{% trans ", you wrote" %}:</h4>
                                    <p id="review_content">{{ object.content }}</p>
                                    {% else %}
                                    <p>{% blocktrans with user=object.get_user %} <span class="review__user_name">{{ user }}</span> reviewed without text.{% endblocktrans %}</p>
                                    {% endif %}

                                </div>
                                <div class="col-md-7">
                                    <ul class="treeview" >

                                        {% if object.ratings.all %}

                                        <h4>{% trans "Your ratings" %}</h4>
                                        {% for rating in object.ratings.all %}
                                        {% if rating.get_rating_value is not None %}

                                        {% review_format rating.get_rating_value as formatted_review %}
                                        <li class="col-sm-12">
                                            <label class="col-sm-4 " id="">
                                                {{ rating.category }}
                                            </label>
                                            <p id="{{rating.category}}" style="display:none">
                                                {{rating.get_rating_value}}
                                            </p>

                                            <div class="col-sm-8">
                                                {% for x in formatted_review.full_globes %}
                                                <i class="rating-on"></i>
                                                {% endfor %}
                                                {% for x in formatted_review.empty_globes %}
                                                <i class="rating-off"></i>
                                                {% endfor %}
                                                {% endif %}

                                                {% endfor %}
                                                <div>
                                        <li>
                                        {% endif %}

                                        {% if object.element_ratings.all %}
                                        <h4>{% trans "Your answered" %}</h4>
                                        {% for rating in object.element_ratings.all %}
                                        {% review_format rating.get_value as formatted_review %}

                                        <li class="col-sm-12">
                                            <label class="col-sm-12">
                                                {{ rating.question.text}}
                                            </label>

                                            <div class="col-sm-offset-4 col-sm-8">
                                                {% for x in formatted_review.full_globes %}
                                                <i class="rating-on"></i>
                                                {% endfor %}
                                                {% for x in formatted_review.empty_globes %}
                                                <i class="rating-off"></i>
                                                {% endfor %}

                                                <div>
                                        <li>

                                        {%endfor%}
                                        {%endif%}
                                    </ul>




                                </div>
                            </div>

                            <div class="share-review-social">
                                <span>Please share your review on social media and help your friends and followers plan their next trip based  on impact.</span>
                                <p>
                                    <button id="fb_share_button">
                                    </button>
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="service-helper"></div>
{% endblock %}


{%block js%}


<script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>

<script type="text/javascript">

  var ImgUrl = ""

 window.getRelevantGoogleReviews = function () {
 var service = new google.maps.places.PlacesService($('#service-helper').get(0));
  // note that it removes the content inside div with tag '#service-helper'
 placeID = $("#reviewed_item_id").val();
// set review element link
 $("#reviewed_element_link").attr("href", "/element/"+placeID);
            service.getDetails({
                placeId: placeID  // get a placeId using https://developers.google.com/places/web-service/place-id
            }, function (place, status){
                $("#review_item_name").html(place.name)
                 mainImage = place.photos[0];
                // get image url
                rawImgUrl = mainImage.getUrl({'maxWidth':400});
                // solve the bug
                ImgUrl =rawImgUrl.replace('w400-', '');
            });
        }
        $(document).ready(function () {
            getRelevantGoogleReviews();
        });

   // initialize facebook javascript sdk
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '247106882481432',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));



// share the link
$('#fb_share_button').on("click",function submitAndShare(){
    // get the selected answer

    var reviewer = $(".review_user_name").html();
    var reviewed_place = $("#review_item_name").html();
    var score = $("#General").html();

    var title = reviewed_place+" received a "+score.trim()+
    "/5 from me, see my review by clicking on this link.";
    var description = "One Planet Rating is the world's first dedicated review platform for sustainable travel & tourism - rate Hotels, Restaurants, Cities, Sights and Activities.";
    var image = ImgUrl;
    var url ="https://www.oneplanetrating.org"+$("#reviewed_element_link").attr("href")
    // and finally share it
    shareOverrideOGMeta(url,title,description,image);
    return false;
})

// override the default meta tags
function shareOverrideOGMeta(overrideLink, overrideTitle, overrideDescription, overrideImage){
    FB.ui({
  method: 'share_open_graph',
  action_type: 'og.shares',
  action_properties: JSON.stringify({
  object: {
                'og:url':   overrideLink,
                'og:title': overrideTitle,
                'og:description':overrideDescription,
                'og:image': overrideImage,
            }
  })
}, function(response){});}

</script>

{%endblock js%}
