<!DOCTYPE html>
<html>
<head>
    <title>OPR</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="description" content="One Planet Rating is a platform where global citizens rate & review travel and tourism related entities on the basis of sustainability. #SustainableTourism">
    <meta name="keywords" content="Travel,Sustainability,Tourism,Hotels,Restaurants">
    <meta name="author" content="One Planet Rating">

    {% load staticfiles %}

    {% load tags %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" href="{% static '/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
    <link href="/staticfiles/css/magic-check.css" rel="stylesheet"/>
    <link href="/staticfiles/css/treeview.css" rel="stylesheet"/>
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'img/favicon.ico' %}">
    <link rel="icon" sizes="196x196" href="{% static 'img/favicon-192.png' %}">
    <link rel="icon" sizes="160x160" href="{% static 'img/favicon-160.png' %}">
    <link rel="icon" sizes="96x96"   href="{% static 'img/favicon-96.png' %}">
    <link rel="icon" sizes="64x64"   href="{% static 'img/favicon-64.png' %}">
    <link rel="icon" sizes="32x32"   href="{% static 'img/favicon-32.png' %}">
    <link rel="icon" sizes="16x16"   href="{% static 'img/favicon-16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon-60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon-76.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon-152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon-180.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" href="{% static 'img/favicon-144.png' %}">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
    <!-- ****** faviconit.com favicons ****** -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="https://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {%block facebookmetatags%}

    {%endblock facebookmetatags%}

    {%block title%}
    {%endblock title%}

    {%block links %}
    {%endblock links%}
</head>

<body>



<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container">


        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-left"  href="{% url 'index'%}" style="padding-top: 12px;">
                <img src="{% static 'svg/glob-side-title.svg' %}" alt="opr-logo" class="navbar-brand-logo">
            </a>
        </div>


        <div id="navbar" class="navbar-collapse collapse">


            <ul class="nav navbar-nav navbar-right nav-right">


                {% if user.is_authenticated %}



                <li class="dropdown" id="travel">

                    <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><defs><style>.cls-1{fill:none;}.cls-2{fill:#333;}</style></defs><title>Resurs 1</title><g id="Lager_2" data-name="Lager 2"><g id="Lager_1-2" data-name="Lager 1"><path class="cls-1" d="M0,0H24V24H0Z"/><path class="cls-2" d="M12,4.42a11.83,11.83,0,0,0-11,7.5,11.82,11.82,0,0,0,22,0A11.83,11.83,0,0,0,12,4.42Zm0,12.5a5,5,0,1,1,5-5A5,5,0,0,1,12,16.92Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,12,8.92Z"/></g></g>
                        </svg>
                    </a>

                    <ul class="dropdown-menu notifications">
                        <div class=" text-center">
                            <h4 class="menu-title">Recent Activity</h4>
                        </div>
                        <div class="col-md-12 divider"></div>
                        <ul class="list">
                            <form>
                                <div class="menu">
                                    <div class="tabbable">
                                        <ul class="nav nav-pills">
                                            <li class="text-decoration active"><a href="#recentlyViewed" data-toggle="tab">Viewed</a></li>
                                            <li class="text-decoration"><a href="#favorites" data-toggle="tab">Favorites</a></li>
                                            <li class="text-decoration"><a href="#rated" data-toggle="tab">Rated</a></li>
                                            <div class="col-md-12 divider"></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="recentlyViewed" style="overflow-y:hidden;">
                                            <div class="recent-cards-container">
                                                {% for item in element_infos %}
                                                <div class="recent-cards-region flex-container">
                                                    <div class="flex-item">
                                                        {% get_ref  item.1.photos.0.photo_reference as ref %}
                                                        <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=150&amp;maxwidht=100&amp;photoreference={{ref}}&amp;key=AIzaSyDzCcuh5e2z9diD7o6jH0euGPVS-9GV6xk" class="pic img-rounded" height="70" width="70">

                                                        <div class="info-container">
                                                            <p><a href="/element/{{item.1.place_id}}">{{item.1.name}}</a></p>
                                                            <p>
                                                                <div class="">
                                                                    <span>
                                                                        {% get_element item.1.place_id as element %}
                                                                        {% get_element_review_category_mode element "General" as cat_mode %}
                                                                    {% review_format cat_mode as formatted_review %}

                                                                    {% for item.1 in formatted_review.full_globes %}
                                                                    <i class="rating-on"></i>
                                                                    {% endfor %}
                                                                    {% for x in formatted_review.empty_globes %}
                                                                    <i class="rating-off"></i >
                                                                    {% endfor %}
                                                                </span>
                                                                <a class="review-num">{{ formatted_review.score }} Reviews</a>
                                                            </div>
                                                        </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>

                                        </div>

                                        <div class="tab-pane" id="rated">
                                            {% for item in rr %}
                                            <div class="recent-cards-container">
                                                <div class="recent-cards-region">
                                                    <a class="recent-card" href="/element/{{item.1.place_id}}">
                                                        <div class="media-left col-md-4">
                                                            <div>
                                                                <a href="/element/{{item.1.place_id}}">
                                                                    {% get_ref  item.1.photos.0.photo_reference as ref %}
                                                                    <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=150&amp;maxwidht=100&amp;photoreference={{ref}}&amp;key=AIzaSyDzCcuh5e2z9diD7o6jH0euGPVS-9GV6xk" class="pic img-rounded" height="70" width="70">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="content-right col-md-9">
                                                            <div class="poi-title"> <a href="/element/{{item.1.place_id}}">{{item.1.name}}</a></div>
                                                            <div>
                                                                <div class="">
                                                                        <span>
                                                                            {% get_element item.1.place_id as element %}
                                                                            {% get_element_review_category_mode element "General" as cat_mode %}
                                                                        {% review_format cat_mode as formatted_review %}

                                                                        {% for item.1 in formatted_review.full_globes %}
                                                                        <i class="rating-on"></i>
                                                                        {% endfor %}
                                                                        {% for x in formatted_review.empty_globes %}
                                                                        <i class="rating-off"></i >
                                                                        {% endfor %}
                                                                    </span>
                                                                    <a class="review-num">{{ formatted_review.score }} Reviews</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="tab-pane" id="favorites">
                                            {% for item in favorites %}
                                            <div class="recent-cards-container">
                                                <div class="recent-cards-region">
                                                    <a class="recent-card"  href="/element/{{item.0.element_id}}">
                                                        <div class="media-left col-md-4">
                                                            <div>
                                                                <a href="/element/{{item.0.element_id}}">
                                                                    {% get_ref  item.1.photos.0.photo_reference as ref %}
                                                                    <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=150&amp;maxwidht=100&amp;photoreference={{ref}}&amp;key=AIzaSyDzCcuh5e2z9diD7o6jH0euGPVS-9GV6xk" class="pic img-rounded" height="70" width="70">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="content-right col-md-9">
                                                            <div class="poi-title"><a href="/element/{{item.0.element_id}}">{{item.1.name}}</a></div>
                                                            <div>
                                                                <div class="">
                                                                        <span>
                                                                        {% get_element item.1.place_id as element %}
                                                                            {% get_element_review_category_mode element "General" as cat_mode %}
                                                                        {% review_format cat_mode as formatted_review %}

                                                                        {% for item.1 in formatted_review.full_globes %}
                                                                        <i class="rating-on"></i>
                                                                        {% endfor %}
                                                                        {% for x in formatted_review.empty_globes %}
                                                                        <i class="rating-off"></i >
                                                                        {% endfor %}
                                                                    </span>
                                                                    <a class="review-num">{{ formatted_review.score }} Reviews</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </ul>
                    </ul>
                </li>


                <li class="dropdown" style="padding: 12px 0px 13px 0px;">

                    <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown">
                        <span class="nav-item profile-name">{{request.user.get_full_name}}</span>
                        <div class="profile-picture-alt">
                            {%if user.profile.profile_picture != "" %}
                            <img id="profile-pic" class="profile-pic" style="background-image" src="{{user.profile.profile_picture.url}}" alt="profile picture"/>
                            {%else%}

                            <div id="name">
                                {{ request.user | make_list | slice:':1' | first | upper }}
                            </div>

                            {%endif%}

                        </div>
                    </a>


                    <ul class="dropdown-menu notifications">
                        <li><a href="{% url 'dashboard' %}">View Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'give_feedback' %}">Give Feedback</a></li>
                        <li><a href="{% url 'invite_friend' %}">Invite</a></li>
                        <li><a href="{% url 'help_center' %}">FAQ</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout'%}">Log out</a></li>
                    </ul>
                </li>



                {% else %}
                <li class="header-item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" area-expanded="false">
                        Join/Log In
                    </a>
                    <ul class="dropdown-menu notifications">
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'registration_register' %}">Register</a></li>
                        <li><a href="{% url 'help_center' %}">FAQ</a></li>
                    </ul>
                </li>
                {% endif %}


                <li class="header-item">
                    <a href="http://www.oneplanetrating.com/blog" target="_blank">Blog</a>
                </li>


                <li>
                    <div class="social-media-container pull-right">

                        <a href="https://www.facebook.com/oneplanetrating/" target="_blank"  class="btn social-button pull-right"><i style="font-size:18px;" class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/OnePlanetRating" target="_blank"   class="btn social-button pull-right"><i style="font-size:18px;"  class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/oneplanetrating/" target="_blank"   class="btn social-button pull-right"><i style="font-size:18px;"  class="fa fa-instagram"></i></a>

                    </div>
                </li>


            </ul>
        </div><!--/.nav-collapse -->



    </div>
</nav>

<!-- will need it after the beta version

        \div id="categories-bar">
        <div class="container">
            <div>
                <a href="#">Hotels</a>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>

                <a href="#">Restaurants</a>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="#">Activities</a>
            </div>
        </div>
    </div>
    -->


{% block content %}
{% endblock content %}



{% block main %}
{% endblock main %}

<div id="footer">
    <div class="container-fluid">
        
            <div class="row">
                <div class="legal-section-1 col-md-12 col-xs-12">
                 <p>
               
                    &copy; <span id="current-year"></span> One Planet Rating - All rights reserved
                  </p>  
                
                </div>
            </div>
            <div class="row">
                <div class="legal-section-2 col-md-12 col-xs-12">
                
                    <a href="http://www.oneplanetrating.com/" target="_blank">About OPR </a>
                    <a href="{% url 'terms_of_service'%}">- Terms of Use</a>
                    <a href="{% url 'privacy_policy'%}">- Privacy Policy</a>
             

                </div>
            </div>
        
    </div>
</div>


{###########################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script> -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static '/js/treeview.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwAaru_f4-6PI4mgdqTHJ1Um985NOEYjE&libraries=places"></script>
<script>


(function getUrlParams(){
        type = '{{type}}'
        options = $("#selector option");
        for ( i =0; i<options.length; i++){
        if (options[i].value == type){
        options[i].selected = true;
        break;
        }//for
       }//if

  function getSelectedValue(){
     var selectedValue = $("select#selector").find(":selected").html()
            if (!selectedValue){
            var selectedValue = $("input[name='type']:checked").val();
      }
      return selectedValue;
    }

/* remove the red-placeholder class */
   $("#id_Place").on("keydown",function(){
   $("#id_Place").removeClass("red-placeholder");
   selectedCategory =  getSelectedValue();
       setUpAutoComplete(searchInput, selectedCategory);
   });

   var searchInput = document.getElementById('id_Place');
   var autocomplete = new google.maps.places.Autocomplete(searchInput, {});

   function setUpAutoComplete(searchInput, selectedCategory){

  if (searchInput != null){

        if (selectedCategory !="cities"){
            autocomplete.setOptions({})
        }else {
            autocomplete.setOptions({types: ['(cities)']})
        }
        autocomplete.addListener('place_changed', function(){
        var place = autocomplete.getPlace();
        var place_types = place.types;
        selectedValue = getSelectedValue();

        // if it is not a city and cities categories is not selected
        if (!(place_types.includes("locality") || place_types.includes("political")) && selectedValue !="cities"){
                 // go directly to the place
                 window.location = "/element/"+place.place_id+"/"+selectedValue;
        }


        // go directly to the city if the cities category is selected
        if (selectedValue == "cities"){
            window.location = "/element/"+place.place_id+"/"+selectedValue;
        }
      });
}} // end setUpAutoComplete


    var today = new Date();
    $("#current-year").html(today.getFullYear());
      })();

</script>
{%block js%}
{%endblock js%}
</body>
</html>
