@import url('https://fonts.googleapis.com/css?family=Roboto');


.welcome-title {
    padding-top: 50px;
    padding-bottom: 20px;
}

.username-title {
    padding-top: 20px;
    padding-bottom: 50px;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content>p {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-top: 20px;
}


hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-color: #000000;
    border-width: 2px;
}

.links {
    font-size: 20px;
}

.icons {
    padding-top: 50px;
    padding-bottom: 70px;
}