.parent {
    position: relative;
    display: inline-block;
}

.heart-set {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
}

.box-btn {
    float: left;
    background: transparent;
    font-size: 30px;
    color: #4D4E56;
    font-weight: 300;
    cursor: pointer;
    border-radius: 2px;
    line-height: 0.5;
    border: none;
    outline: none;
}

.glyphicon {
    transition: color .3s linear;
}

.box-btn .red {
    color: red;
}