@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);
body {
    background: #F7F7F7;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px;
}

.navbar-brand {
    padding: 0;
    height: auto;
}

.navbar-brand-logo {
    height: 50px;
}

.nav-item:hover {
    color: #1565c0 !important;
}

.search-area input {
    height: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.main-content {
    position: relative;
    padding-top: 25px;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 40px;
    text-align: center;
    color: #f8f8f8;
    background: url(/staticfiles/img/aurora.jpg) no-repeat center center;
    background-size: cover;
}

.search-area {
    font-weight: 400;
}

.btn-secondary {
    height: 40px;
    background-color: #3198cc !important;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}




/* Form panel */

.register-login-wrapper {
    margin-top: 50px;
}

.panel {
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 400;
}

.panel-form {
    border: none;
    -webkit-box-shadow: 0px 0px 49px 14px rgba(188, 190, 194, 0.39);
    -moz-box-shadow: 0px 0px 49px 14px rgba(188, 190, 194, 0.39);
    box-shadow: 0px 0px 49px 14px rgba(188, 190, 194, 0.39);
}

.panel-form .form-group {
    min-height: 45px;
    padding: 0px 30px;
}

.form-elm-right {
    text-align: right;
    margin-top: 10px;
}




/******************/


/* logo container */

.logo-container {
    display: inline-block;
    width: 100px;
    margin-bottom: 20px;
}




/******************/


/* Panel Form input */

.panel-form input[type="text"],
.panel-form input[type="email"],
.panel-form input[type="password"],
.panel-form select {
    height: 45px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0px;
    font-size: 16px;
}

.panel-form input:hover,
.panel-form input:focus {
    border-color: #bbb;
}




/******************/


/* Checkbox */

.checkbox {
    top: 25%;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    padding-left: 25px;
    display: inline-block;
    position: relative;
}

.checkbox label::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}




/******************/


/* Form Button */

.form-button {
    background-color: #35A1CA;
    color: white;
    height: 45px;
    text-transform: uppercase;
    border-radius: 0px;
    box-shadow: none;
}

.form-button:hover,
.form-button:focus {
    border: none;
    color: white;
    background-color: #3297bc;
}




/******************/


/* Social media */

.text-in-line {
    border-bottom: 1px solid #C2C7D0;
    text-align: center;
    height: 20px;
}

.text-in-line span {
    line-height: 40px;
    padding: 0 15px;
    background-color: white;
}

.social-media-container {
    position: relative;
    text-align: center;
    margin: 20px 0 0 0;
}

.social-button {
    color: #333;
    width: 50px;
}

.social-button:active {
    box-shadow: none;
}

.social-button:hover {
    color: #3297bc;
}

.social-button i {
    font-size: 25px;
}




/******************/


/* Panel footer */

.panel-footer {
    padding: 0;
}

.panel-footer-content {
    padding: 20px 0;
    background: #c9d5db;
    color: #555;
    font-weight: 400;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.panel-footer a {
    text-decoration: none;
}




/******************/

.no-border {
    border: 0px;
}

.heart {
    color: #B71C1C;
    font-size: 40px;
    margin: 12px 0;
}

.envelope {
    color: #64BF00;
    font-size: 40px;
    margin: 12px 0;
}

.rating-on {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 1px;
    background: url('../img/rateglobes.png');
}

.rating-off {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 1px;
    background: url('../img/rateglobes.png') 0 -18px;
}

.rating-globes {
    font-size: 0px;
    display: inline-block;
    margin-right: 10px;
}

.rating-result {
    display: flex;
}

.thumb {
    padding-right: 10px;
}




/* Clean this, find better way */

.dropdown-button {
    padding: 0 !important;
}

.profile-name {
    display: inline-block;
    padding: 15px 10px 15px 15px;
    line-height: 20px;
}

@media only screen and (max-width: 789px) {
    .profile-name {
        padding: 0px;
    }
}

.profile-picture-alt {
    display: inline-block;
    margin-right: 30px;
    width: 36px;
    height: 36px;
    background-color: black;
    border-radius: 100px;
}

.profile-picture-letter {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 36px;
}

.input-email {
    border: 1px solid #e7e7e7;
}

.rating-row {
    padding: 5px;
}

.text-under-line {
    margin: 2.5em 1em;
    border-bottom: 1px solid #C2C7D0;
    text-align: center;
}

.review-side {
    padding-left: 100px;
    margin-top: 20px;
}

.review-form-line input {
    border: 1px solid #ccc !important;
    height: inherit;
    border-radius: 3px !important;
    margin-right: 5px;
}

.photo-side {
    padding-left: 54px;
}

.review-form-line {
    padding: 0 1em 1em 1em;
}

.generic-rating-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#review-form .generic-rating-wrapper {
    padding-left: 0px;
}

.detailed-rating-wrapper {
    margin-bottom: 1em;
}

.review-container {
    font-weight: 300 !important;
}

.review-header {
    display: flex;
    justify-content: center;
}


.review-form-line label {
    font-weight: 500 !important;
}

.review-type {
    flex-wrap: wrap;
    display: flex;
    padding-left: 0;
    justify-content: center;
}

.thumbnail-image {
    width: 80px;
    height: 80px;
}

@media (max-width: 360px) {
    .review-container {
        padding: 0;
        margin-top: -30px;
    }
    .review-header {
        text-align: center;
    }
    #main-image {
        display: none;
    }
    .generic-rating-wrapper {
        flex-direction: column;
    }
    .review-form-line {
        padding: 0 0.2em 1em 0.2em;
    }
    .text-under-line {
        margin: 2.5em 0em !important;
    }
    .treeview li {
        padding: 0.3em 0 !important;
    }
    .treeview ul:before {
        border: none !important;
    }
}

.clear-rating {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: none;
    margin-right: 8px;
}

.submit-review {
    padding: 8px 28px;
    background-color: #3198cc;
}

@media only screen and (max-width: 359px) {
    .hashtag-text {
        padding-top: 20px;
    }

    .hashtag-text>h1 {
        font-size: 30px;
    }

    .hashtag-text>h3 {
        font-size: 20px;
    }
}



@media only screen and (min-width: 360px) and (max-width: 399px) {
    .hashtag-text {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 579px) {
    .hashtag-text {
        padding-top: 100px;
    }
}

@media only screen and (width: 412px) {
    .hashtag-text {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 580px) {
    .hashtag-text {
        padding-top: 90px;
    }
}



/* Microsoft Lumia 550 breakpoint */

@media only screen and (width: 640px) {
    .hashtag-text {
        padding-top: 5px;
    }
}



/* Nokia Lumia 520 breakpoint */

@media only screen and (width: 533px) {
    .hashtag-text {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .hashtag-text>h1 {
        font-size: 20px;
    }

    .hashtag-text>h3 {
        font-size: 20px;
    }
}