body {
    background: #F7F7F7;
    color: #444;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.no-padding {
    padding: 0px;
}

.navbar {
    background-color: #F5F5F5 !important;
}


.logo {
    padding: 0 !important;
}

.wrapper {
    padding-top: 3%;
    min-height: 100%;
}

#container {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #333;
}

#name {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 40px;
}

.header-item {
    padding: 25px 5px 20px 0px;
}

@media only screen and (max-width: 789px) {
    .header-item {
        padding: 25px 5px 20px 7px;
    }
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cc-selector {
    display: table;
    margin: 10px auto;
}

@media only screen and (max-width: 359px) {
    .cc-selector {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
    .cc-selector {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 760px) {
    .cc-selector {
        padding-top: 50px;
        padding-bottom: 5px;
    }
}




/* Microsoft Lumia 550 breakpoint */

@media only screen and (width: 640px) {
    .cc-selector {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}




/* Nokia Lumia 520 breakpoint */

@media only screen and (width: 533px) {
    .cc-selector {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 761px) {
    .cc-selector {
        padding-top: 100px;
        padding-bottom: 5px;
    }
}




.cc-selector input:active+.type {
    opacity: .9;
}

.cc-selector input:checked+.type {
    -webkit-filter: brightness(.5) grayscale(.5) opacity(.9);
    -moz-filter: brightness(.5) grayscale(.5) opacity(.9);
    filter: brightness(.5) grayscale(.5) opacity(.9);
}

.type {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 145px;
    height: 120px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.5) grayscale(1) opacity(1);
    -moz-filter: brightness(1.5) grayscale(1) opacity(1);
    filter: brightness(1.5) grayscale(1) opacity(1);
}

@media only screen and (max-width: 360px) {
    .type {
        width: 70px;
        height: 70px;
        margin: 2px;
    }
}


@media only screen and (min-width: 361px) and (max-width: 767px) {
    .type {
        width: 90px;
        height: 90px;
        margin: 5px;
    }
}





/* Microsoft Lumia 550 breakpoint */

@media only screen and (width: 640px) {
    .type {
        width: 90px;
        height: 90px;
        margin: 5px;
    }
}




/* Nokia Lumia 520 breakpoint */

@media only screen and (width: 533px) {
    .type {
        width: 60px;
        height: 60px;
        margin: 2px;
    }
}

@media only screen and (min-width: 768px) {
    .type {
        width: 120px;
        height: 120px;
        margin: 5px;
    }
}

.type:hover {
    -webkit-filter: brightness(.7) grayscale(1.8) opacity(.9);
    -moz-filter: brightness(.7) grayscale(1.8) opacity(.9);
    filter: brightness(.7) grayscale(1.8) opacity(.9);
}

.restaurant {
    background-image: url('/staticfiles/svg/restaurants_white.svg');
}

.hotel {
    background-image: url('/staticfiles/svg/hotels_white.svg');
}

.activity {
    background-image: url('/staticfiles/svg/activities_white.svg');
}









/* Extras */

a {
    color: #35A1CA;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #3297bc;
}

p {
    margin-bottom: .3em;
}









/* CSS used here will be applied after bootstrap.css */

.dropdown {
    display: inline-block;
    margin-left: 20px;
    /*  padding: 10px;*/
}

.fa-bell {
    font-size: 1.5rem;
}

.notifications {
    min-width: 200px;
    background-color: #ededed !important;
}

.notifications-wrapper {
    overflow: auto;
    max-height: 250px;
}

.menu-title {
    color: #333;
    font-size: 1.5rem;
    display: inline-block;
}

.fa-circle-arrow-right {
    margin-left: 10px;
}

.notification-heading,
.notification-footer {
    padding: 2px 10px;
}

.dropdown-menu.divider {
    margin: 5px 0;
}

.item-title {
    font-size: 1.3rem;
    color: #000;
}

.notifications a.content {
    text-decoration: none;
    background: #ccc;
}

.notification-item {
    padding: 10px;
    margin: 5px;
    background: #ccc;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .notifications {
        min-width: 100%;
    }
}

body {
    padding-top: 50px;
    padding-bottom: 170px;
    background-color: #f5f4ef;
}

.modal-dialog {
    width: 80%;
}

.map-frame {
    height: 70vh;
}

ul {
    list-style-type: none;
}

#search-result{
    padding-left: 0px;
}

.result-btn {
    margin: 15px;
}

.search-bar {
    background-color: #3198cc;
    padding: 25px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-top: 4%;
    margin-top: 76px;
}

#selector {
    width: 30%;
}

@media only screen and (max-width: 768px) {
    #selector {
        width: 40%;
    }
}

.search-bar-text {
    width: 70% !important;
}

@media only screen and (max-width: 768px) {
    .search-bar-text {
        width: 60% !important;
    }
}

.element-review {
    color: #404040 !important;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
}









/*
#index-form {
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 30px;
    border-radius: 32px;
    width: 60%;
    margin: auto;
    margin-top: 68px;
}

*/

.custom-btn {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0em;
    margin-top: 45px;
    margin-left: 70px;
}

.btn-container {
    text-align: right;
}

#filter-column {
    background-color: rgba(206, 219, 220, 0.16);
    /*border-radius: 15px;*/
    margin-top: 66px;
}

.sort-header {
    display: inline-block;
}

.sort-wrapper {
    padding-left: 0px;
    margin: 0 0 20px 40px;
    margin-left: 0px;
    font-weight: 500;
    border-bottom: #ccc 1px solid;
}

.sort-element {
    display: inline-block;
    padding: 11px 20px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    height: 42px;
}

.sort-element:hover,
.sort-element:active {
    border-bottom: #3198CC 2px solid;
}

.hotel-name {
    color: #404040 !important;
    margin-top: 26px;
}

.rating-globe {
    margin: -3px;
    height: 20px;
    width: 20px;
}

#add-review {
    margin-left: 0px;
    color: white;
    background-color: #3198cc;
    border-color: #3198cc;
    padding: 8px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 154px;
    /*margin-left: 15px;*/
}

@media only screen and (max-width: 798px) {
    #add-review {
        margin-top: 5px;
    }
}

#add-review:hover,
#add-review:focus {
    background-color: #84c2e1;
    border-color: #84c2e1;
    text-decoration: none;
    color: white;
}

#categories-bar {
    /*padding-left: 105px;*/
    background-color: white;
    width: 100%;
    height: 25px;
    /* margin-top: -19px; */
}

#filter-image {
    width: 85%;
    display: block;
    margin: auto;
}

.general-rating {
    float: left;
}

.rating {
    float: right;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px !important;
    opacity: 0;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover~.rating-star,
.rating-input:checked~.rating-star {
    background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../img/rateglobes.png') 0 -20px;
    font-size: 0;
    background-size: cover;
}

.rating:hover .rating-star:hover,
.rating:hover .g-rating-star:hover~.g-rating-star,
.rating-input:checked~.g-rating-star {
    background-position: 0 0;
}

.g-rating-input {
    float: left;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 -16px 0 -16px !important;
    opacity: 0;
}

.g-rating-star,
.rating:hover .g-rating-star {
    position: relative;
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../img/rateglobes.png') 0 -20px;
    font-size: 0;
    background-size: cover;
}

.fieldWrapper>h4 {
    display: inline;
}

.result-element {
    background-color: white;
}

.search-photo {
    padding: 0;
}

@media (max-width: 768px) {
    .search-photo {
        padding-top: 10px;
    }
}

@media (max-width: 992px) {
    .search-photo {
        text-align: center;
    }
    .custom-btn {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 1em;
        margin-top: 15px;
        margin-left: 0px;
    }
    .result-element {
        background-color: white;
        text-align: center;
    }

    .sort-header {
        display: block;
    }
}



.rating-progress {
    width: 100px;
    height: 15px;
    margin-bottom: 0;
    display: inline-block;
    background-color: #ededed;
}

.rating-progress-label {
    display: inline-block;
    width: 80px;
}

.progress-back {
    background-color: #3198cc;
}

.smaller-image {
    width: 110px !important;
}

.specific-rating {
    width: 70%;
}

.specific {
    margin-left: 33%;
}

.review-header {
    margin-top: 1.2em;
}

.main-image {
    max-width: 80%;
    margin-bottom: 30px;
}

.map-image {
    display: block;
}

.map-location {
    height: 228px;
    margin: 12px 0px 0px 0px
}

.review-block {
    border: solid 1px transparent;
    border-radius: 3px;
    margin-bottom: 2%;
    background: #ffffff;
    list-style: none;
}

.review-title-box {
    padding: 5px 0px;
}

.hori-divider {
    height: 1px;
    width: 125%;
    display: block;
    margin: 0px -156px;
    overflow: hidden;
    background-color: #E0E0E0;
}
.review-block-description{
    font-weight: 300;
}

.voting-box{
    margin-bottom: 20px;
}

/* Helpful button */
.helpful{
    margin-left: 5px;
    color: white !important;
    background-color: #3198cc !important;
    border-color: #3198cc;
    border-radius: 5px;
    padding: 7px 10px !important;
}

.review-title-box .review-title {}

.show-on-map {
    padding: 8px 31px;
    border-radius: 4px;
    background-color: #3198cc;
    margin-left: 0px;
    margin-top: 20px;
    color: #ffffff;
}

@media only screen and (max-width: 798px) {
    .show-on-map {
        margin-bottom: 5px;
    }
}

.show-on-map:hover,
.show-on-map:focus {
    background-color: #84c2e1;
    text-decoration: none;
    color: white;
}

.submit-review {
    padding: 7px 20px;
    border-radius: 4px;
    background-color: #3198cc;
}

.review-percentage {
    /*color: #b7b7b7;*/
    color: #3198cc;
}

.min-rating {
    padding-top: 15px;
}

.img-rounded {
    height: 69px;
    width: 69px;
    border-radius: 100px;
}

.review-location {
    padding: 20px 0px 10px 31px;
}

@media only screen and(max-width: 420px) {
    .btn-container {
        text-align: center;
    }

    .show-on-map {
        padding: 8px 31px;
        border-radius: 4px;
        background-color: #3198cc;
        margin-top: 0px;
    }

    #add-review {
        color: white;
        background-color: #3198cc;
        border-color: #3198cc;
        padding: 7px 10px;
        margin-top: 15px;
    }

    .rating-result {
        padding-top: 20px;
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .main-image {
        padding-top: 10px;
        max-width: 100%;
    }

    #details {
        margin-top: 5px;
    }
}










/* new styles */

#gender {
    -webkit-appearance: none;
    appearance: none;
}

#showhide {
    border: 0px;
    position: absolute;
    border-radius: 0px;
    margin-top: -35px;
    margin-left: 240px;
    float: right;
    color: #444;
}










/* dashboard styles */

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.main-header {
    padding: 0px 30px;
}

.dashboard .navigation-box {
    border-right: solid 2px #ccc;
}

.dashboard {
    padding: 20px 0px;
    min-height: 100% !important;
    padding: 2%;
    padding-top: 4%;
    background: #fff;
}

.dashboard .dash-profile-img {
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: solid 1px #ccc;
}

.dashboard .dash-profile-img img {
    height: 130px;
    width: 130px;
    border-radius: 100px;
}

.dashboard .nav-pills>li {
    width: 100%;
}

.dashboard .upload-profile-image {
    height: 130px;
    width: 130px;
    padding-top: 70px;
    text-align: center;
    border-radius: 100px;
    background-color: #f5f5f5;
    margin-bottom: 4%;
}

.button-as-link {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    cursor: pointer;
    color: #2895F1;
    background: none;
    border: 0px;
    outline: none;
    font-size: 14px;
}

.dashboard #modal-dashboard {
    box-sizing: content-box;
    border-top: 1px solid #e5e5e5;
    background: #f6f9fc;
    padding: 32px;
    line-height: 1.8em;
    font-size: 13px;
    max-height: 60vh;
    width: 30%;
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#modal-dashboard .modal-dialog {
    width: 50% !important;
}

.element-name{
    padding-top: 30px;
}

@media only screen and (min-width: 1200px) {
    .element-name {
        padding-left: 40px;
    }
}








/* notification navbar */

#dLabel {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.reviewed_elements_list li {
    margin: 10px 0px;
    background: #f7f7f7;
}

.reviewed_elements_list li img {
    padding-right: 10px;
    height: 100px;
    width: 170px;
}

.reviewed_elements_list a {
    padding-right: 10px;
}

.favorite_elements_list li {
    margin: 10px 0px;
    background: #f7f7f7;
}

.favorite_elements_list li img {
    padding-right: 10px;
    height: 100px;
    width: 170px;
}

.favorite_elements_list a {
    padding-right: 10px;
}










/* end */


/*modal */

.modal-dialog {
    margin-top: 7%;
}










/* img upload */

#p_img_label {
    padding: 100px;
    width: 100%;
    text-align: center;
    border: solid 1px #ccc;
    background: #ccc;
}

#modal-dashboard #id_profile_picture {}

#modal-dashboard .image_upload_preview {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-left: 30%;
    border: solid 1px #ccc;
}

.profice-pic-actions {
    margin-top: 4%;
    margin-bottom: 4%;
}










/* feedback page */

.feedback-box {
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    margin-top: 3%;
}

.feedback-box label {
    color: #90949c;
}










/* help center page */

.help-center-box {
    background: #ffffff;
    min-height: 100%;
    padding-bottom: 5%;
}

.help-center-header {
    text-align: center;
    color: #ffffff;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 20px;
    background-color: #3198cc;
}

.help-center-header h3 {
    margin-top: 40px;
}

.help-category-item {
    border: 1px solid #eef1f2;
    border-radius: 4px;
    box-sizing: border-box;
    color: #8699a6;
    background: #f6f7f8;
    display: flex;
    flex: 1 0 340px;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 20px;
    max-width: 100%;
    text-align: center;
    z-index: 0;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 1%;
    padding: 15px 0px;
}

.help-category-item {
    cursor: hand;
}

.help-category-item:hover .help-item-title {
    color: #3198cc;
}

.help-category-link {
    color: #00adef;
    padding: 20px 30px;
    text-decoration: none;
}

.help-category-link:hover {
    text-decoration: none;
}

.help-item-title {
    margin-bottom: 0;
    color: #64767f;
    font-size: 16px;
}

.article-box {
    padding-top: 20px;
}

.article-box .page-header {
    margin-top: 10px;
}










/* accordion */

button.accordion {
    background-color: #f6f7f8;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
    margin-top: 20px;
    margin-right: 2em;
}

.cat-accordion {
    background-color: #fff !important;
    padding-top: 0px !important;
    width: 50% !important;
    float: left !important;
    margin: 0px !important;
}

.cat-accordion-review {
    width: fit-content !important;
}

.accordion div {
    width: 95%;
    display: inline-block;
}

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}

.panel-accordion {
    padding: 0px;
    background-color: #f5f5f5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel-accordion p {
    padding: 10px;
}

.cat-panel-accordion {
    border-left: solid 1px #555;
    background: #fff;
    position: relative;
    width: 95%;
    float: right;
}










/* bread crumbs */

.breadcrumb {
    background: transparent;
}










/* review-form */

.review-form .form-group {
    margin-bottom: 2%;
}

#id_type {
    padding: 0px;
}

#id_type li {
    margin-right: 2%;
    float: left;
}

#id_type li label {
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

#id_type li label:hover {
    background: #fff;
}

#id_type li label input:checked+#id_type li label {
    background: #fff;
    border-color: #000;
}

.review-form button.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 0px !important;
    margin-bottom: 20px;
}










/* tooltip */

.tooltip {
    position: fixed;
}

.tooltip-inner {
    background-color: #00acd6 !important;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #fff;
    font-size: 16px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #00acd6;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #00acd6;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00acd6;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #00acd6;
}










/* tooltip end */

.options-nav {
    margin-top: 5%;
}

.category {
    margin-left: -12%;
}










/* voting up and down */

.voting-box p {
    display: inline-block;
}

.voting-box p span {
    padding-left: 5px;
}

.js-up-vote,
.js-down-vote {
    color: #828384;
}

.active_vote {
    color: #4999d6;
}










/* element rating category break-down */

.see-more-collapse {
    background-color: white;
    border-color: white;
    font-size: 12px;
    color: #3198cc !important;
    padding-left: 15px;
    outline: none !important;
}










/* footer */

#footer {
    background-color: #f5f4ef;
    color: #666;
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif;
    border-top: solid 1px #e7e7e7;
}

#footer a {
    color: #666 !important;
}










/* general information box */

.general-info-box {
    background-color: #00acd6 !important;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #fff;
    position: fixed;
    margin-left: 35%;
    padding: 10px;
    border: solid 1px transparent;
    border-radius: 5px;
    display: none;
}

#general-info:hover {
    color: #00acd6 !important;
}

.general-info-box ul {
    padding: 0px;
}










/* review box button */

.review-rate-box {
    padding: 20px;
    border: solid 1px #00acd6 !important;
    border-radius: 5px;
    margin-bottom: 20px;
}

.review-rate-box p {
    padding-bottom: 10px;
}

.go-to-review-link {
    text-decoration: none;
    background-color: #ffffff;
    color: #00abd6;
    border: none;
}

.review-rate-box .go-to-review-link span {
    margin-left: 5px;
    color: white;
    background-color: #3198cc;
    border-color: #3198cc;
    border-radius: 5px;
    padding: 7px 10px;
}









/* clear button on review form start */

.clear-button {
    margin-right: 10px;
    margin-left: 0px;
    display: none;
}

.clear-button i {
    color: #444;
}

.clear-button i:hover {
    color: red;
}









/* clear button on review form end*/


/* search page map section */

.view-on-map {
    display: block;
    float: left;
    width: 100%;
    margin-left: 0;
    max-width: 208px;
    height: 140px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 2px;
    margin-bottom: 2%;
    position: relative;
    background: transparent url('/staticfiles/img/map.jpg') no-repeat left bottom;
}

@media only screen and (max-width: 768px) {
    .view-on-map {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
    }
}


#map_wrapper {
    height: 500px;
    display: none;
    margin-bottom: 2%;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.list-elements {
    background: url('/staticfiles/svg/list.svg') center !important;
}

.view-on-map span {
    font-weight: bold;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 3px 5px 1px 1px;
    border-top-right-radius: 3px;
}

.map-infobox {
    border-radius: 4px;
    box-shadow: 0 0 8px 0 #a5a5a5;
    background-color: #fff;
    border: 1px solid #ccc;
    bottom: 17px;
    color: #333;
    left: 7%;
    padding: 3px;
    position: absolute;
    right: 7%;
    width: auto;
    z-index: 15;
    display: none;
}

.map-infobox-wrapper {
    padding: 0px;
    margin: 0px;
}

.map-infobox-imgbox {
    display: inline-block;
}

.map-infobox-imgbox img {
    height: 120px;
    width: 150px;
}

.map-infobox-contentbox {
    display: inline-block;
    padding: 20px;
    width: 70%;
}

.map-infobox-contentbox ul {
    display: -webkit-inline-box;
    padding: 0px;
}

.map-infobox-contentbox span {
    padding-left: 5%;
}

.map-infobox-contentbox ul>li {
    padding-right: 1%;
}

.map-infobox .map-infobox-close {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #026dc5;
    cursor: pointer;
    font-size: 11px;
    padding: 2px 4px 0;
    position: absolute;
    right: -4px;
    text-decoration: none;
    top: -4px;
}









/* travel css - My ratings - Favorites */

#travel {
    padding: 22px 0px 18px 0px;
}

#travel .dropdown-menu {
    min-height: 308px;
}

#travel .nav-pills>.active>a,
#travel .nav-pills>.active>a:hover,
#travel .nav-pills>li>a:hover {
    text-decoration: none;
    border-radius: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    line-height: 0px;
    margin: 9px 0;
    border-bottom-color: #3198cc;
    color: #3198cc !important;
    background-color: transparent !important;
}

#travel .nav-pills>li>a {
    border-radius: 0px;
    color: #000000;
}

#travel .menu-title {
    font-size: 1.7rem;
}

#travel .content {
    width: 400px;
    height: 300px;
    background-color: #fff;
    overflow-y: scroll;
}

#travel .text-decoration {
    font-size: 15px;
    padding: 5px 10px 0px 23px;
    color: #404040;
    font-weight: 300;
    margin-bottom: -9px;
}

#travel .text-decoration>a {
    padding-bottom: 18px;
}

#travel .recent-cards-container {
    min-height: 100px;
    max-height: 343px;
    min-width: 240px;
    overflow-y: hidden !important;
    overflow-x: hidden;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

#travel .recent-cards-container .recent-cards-region {
    padding: 20px;
}

#travel .recent-cards-container:hover {
    cursor: pointer;
}

#travel .media-left {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 2px;
    background-size: cover;
    background-position: 50%;
    margin-right: 10px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 2px;
}

#travel .content-right {
    flex-basis: auto;
    color: #b7b7b7;
    font-size: 12px;
    padding-left: 2px;
    margin-left: 20px;
}

#travel .rating {
    display: inline-block;
}

#travel .review-num {
    padding-left: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    color: #A0A0A0;
    font-weight: 300;
}

#travel .poi-title {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    padding-bottom: 5px;
}

#travel .pic {
    padding-right: 0px;
    margin-right: 0px;
}

#travel .geo>a {
    color: #A0A0A0;
    font-weight: 300;
    font-size: 14px;
}

#travel .icons {
    padding-bottom: 2px;
}

#travel .icons>span>i {
    display: inline-block;
}

#travel .divider {
    margin: 0px !important;
}

#travel .list {
    padding: 0px;
}

.fav-icon {
    position: absolute;
    top: 20px;
    left: 40px;
}

.fav-icon img {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.flex-item {
    height: 90px;
}

.info-container {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 0 15px;
}

.info-container p {
    padding: 0;
    margin: 0 0 10px;
}









/* search redone */

.search-categories-list {
    overflow-y: scroll;
}

#id_Place.red-placeholder::-webkit-input-placeholder {
    color: red;
}









/* share on social media part */


/* Facebook share button */

.fb-share-button {
    text-align: center;
    margin: 0 auto;
    width: 390px;
    display: block !important;
}

#fb_share_button {
    background: transparent url('/staticfiles/img/share-facebook.png') no-repeat center;
    height: 40px;
    width: 200px;
    background-size: 100%;
    /* To fill the dimensions of container (button), or */
    padding: 0px;
    border: 0px;
}

.share-review-social p {
    text-align: center;
}

.legal-section-1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.legal-section-2 {
    text-align: center;
    padding-bottom: 15px;
}

@media only screen and (max-width: 359px) {
    .legal-section-1 {
        font-size: 12px;
    }
    .legal-section-2 {
        font-size: 12px;
    }
}




/* Nokia Lumia 520 breakpoint */

@media only screen and (width: 533px) {
    .legal-section-1 {
        font-size: 12px;
    }
    .legal-section-2 {
        font-size: 12px;
    }
}