body,
html,
.row-offcanvas {
    height: 100%;
}

body {
    //padding-top: 50px;
    overflow-x: hidden;
}

#element-page {
    background-color: white;
    padding-left: 0px;
}


#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color: #ffffff;
    float: left;
    height: 878px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 5px;
    font-size: 13px;
    padding-right: 15px;
    color: #000000;
}

#main {
    height: 100%;
    overflow: auto;
    padding-left: 15px;
}

@media only screen and (max-width: 798px) {
    #main {
        padding-left: 25px;
    }
}

#main .nav-link {
    border-radius: 0px;
}

#main .input-email {
    border: 0px !important;
}

#main .tab-content {
    padding: 10px;
}

#main .infinite-container {
    padding: 0px;
}

.detailed-ratings {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 10px;
    margin-top: 5px;
}

.title-bottom {

    padding-top: 20px;
}

.title-bottom>a {
    color: #000000;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 100;
}

.divider {
    height: 1px;
    width: 84%;
    display: block;
    /* for use on default inline elements like span */
    margin: 10px 13px;
    overflow: hidden;
    background-color: #3198cc;
    /*opacity: 0.3;*/
}

.title>h3 {
    font-weight: 600;
}

.title-text>p {
    font-size: 12px;
    font-style: italic;
    padding: 10px;
    font-weight: 300;
    text-indent: 10px;
    text-align: center;
}

.divider-title {
    height: 1px;
    width: 100%;
    display: block;
    margin: 3px 0;
    overflow: hidden;
    background-color: #3198cc;
}


.general-text {
    padding: 17px;
    font-size: 14px;
}

.general-rating-globes {
    padding-left: 40px;
    padding-top: 5px;
}

.sidebar-text {
    padding: 5px 15px;
    font-weight: 300;
    opacity: 0.9;
    color: #000000;
    text-align: left;
}

#sidebar-wrapper .sidebar-text, #sidebar-wrapper .load_more_q{
color: #ffffff;
}

#sidebar-wrapper .load_more_q{
margin-left:30%;
}

.sidebar-box {
    padding-right: 0px;
}

.reviews {
    color: #000000;
}

.read-more>a {
    text-align: center;
    color: black;
    margin-left: 40px;
}

.radio-button+label {
    padding-left: 30px;
    margin-right: 3em;
}

.vertical-divider {
    border-left: 1px solid #3198cc;
    height: 100%;
    margin-left: 215px;
}

.sidebar-btn {
    border-radius: 4px;
    background-color: #3198cc;
    text-align: center;
    color: white;
    margin-left: 68px;
}

.sidebar-btn:hover,
.sidebar-btn:focus {
    background-color: #84c2e1;
    text-decoration: none;
    color: white;
}



/*
 * off Canvas sidebar
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 270px);
    }

    .row-offcanvas-left {
        left: -250px;
    }

    .row-offcanvas-left.active {
        left: 0;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }

    .treeview-set {
        padding-left: 10px;
        padding-right: 10px;
    }

    .treeview {
        min-width: 280px;
    }
}

@media (min-width: 992px) {
    .map-button,
    .review-place-button {
        width: 20%;
    }
}

#popUp {
    position: fixed;
    bottom: 0;
    display: none;
    background: #6ebade;
    width: 100%;
    text-align: center;
    padding: 20px;
}

#myClose {
    position: absolute;
    top: 0;
    right: 0;
}




/*
*
*
*   sidebar for the review.html
*
*
*
*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    max-height: 910px;
    margin-left: -250px;
    overflow-y: scroll;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    /* IE10+ */
    background-image: -ms-linear-gradient(bottom, #6EBADE 0%, #2BA3FF 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #6EBADE 0%, #2BA3FF 100%);
    /* Opera */
    background-image: -o-linear-gradient(bottom, #6EBADE 0%, #2BA3FF 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6EBADE), color-stop(100, #2BA3FF));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #6EBADE 0%, #2BA3FF 100%);
    /* W3C Markup */
    background-image: linear-gradient(to top, #6EBADE 0%, #2BA3FF 100%);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
        margin-top: 50px;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-review-text {
    padding: 15px;
}


@media(max-width:768px) {

    #sidebar-wrapper {
        display: none;
    }

    #wrapper.toggled #sidebar-wrapper {
        display: none;
    }
}



/* fast review form  */

.validation-text {
    display: none;
    padding-top: 5px;
    color: #922020;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}



/* side bar ratable questions */

.rating-question-item,
.rating-category-item {
    padding: 5px 25px 5px 15px;
    color: #fff;
}

.rating-question-item .rating,
.rating-category-item .rating {
    float: left;
    padding-left: 15px;
}

.rating-category-item .sidebar-text {
    text-align: left;
}

.category-rated-questions-box {
    position: fixed;
    z-index: 9999;
    margin-left: 10%;
    margin-top: 5%;
    padding: 0px;
    height: 300px;
    width: 500px;
    border: solid 2px #ededed;
    overflow-y: scroll;
    background-color: #fff;
}

.category-rated-questions-box .rated-questions-content {
    padding: 20px 30px;
}

.category-rated-questions-box .rated-questions-header {
    background-color: #ededed;
    padding: 5px;
}

.category-rated-questions-box .rated-questions-header h4 {
    padding: 10px;
    display: inline-block;
    margin: 0px;
}

.category-rated-questions-box .rated-questions-header .remove-questions-box {
    float: right;
    background: transparent;
    border: none;
    font-size: 18px;
    padding-right: 10px;
}

.category-rated-questions-box .rated-questions-header .remove-questions-box:hover {
    color: red;
}



/* individual reviews */

.dropingdown {
    display: inline-block;
}

ul {
    list-style-type: none;
}

.dropbtn {
    background: #F7F7F7;
    color: black;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 230px;
    overflow-y: scroll;
    height: 200px;
    z-index: 999;
    padding: 15px 30px;
    overflow: auto;
    background-color: #3398ca;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    /* disabled for now, until the front end end team , harmonizes the colors
    background-image: -ms-linear-gradient(bottom, #6EBADE 0%, #2BA3FF 100%);
    background-image: -moz-linear-gradient(bottom, #6EBADE 0%, #2BA3FF 100%);
    background-image: -o-linear-gradient(bottom, #6EBADE 0%, #2BA3FF 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6EBADE ), color-stop(100, #2BA3FF ));
    background-image: -webkit-linear-gradient(bottom, #6EBADE 0%, #2BA3FF 100%);
    background-image: linear-gradient(to top, #6EBADE 0%, #2BA3FF 100%);

    */
}

.sidebar-text-dropdown p {
    color: #fff;
}

.sidebar-text-dropdown {
    padding: 5px 25px;
    font-weight: 40px;
}

.rating-result {
    display: flex;
}

.rating-globes-dropdown {
    padding: 0px 10px;
    font-size: 0px;
    display: inline-block;
}