.treeview,
.treeview ul {
    margin: 0;
    padding: 0;
}

.treeview ul {
    margin-left: 1em;
    position: relative
}

.treeview ul li div {
    display: inline;
}

.treeview ul ul {
    margin-left: .5em
}

.treeview ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    left: -8px;
    border-left: 1px solid;
    bottom: 8px;
}

.treeview li {
    margin: 0;
    padding: 0.3em 1em;
    line-height: 2em;
    font-weight: 500;
    position: relative
}

.treeview ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}