{% extends "base.html" %}
{% load staticfiles %}
{% load tags%}
{%block content %}
<div class="wrapper">
    <div class="container-fluid dashboard">
        <div class="row">

            <div class="col-sm-3 col-md-3 navigation-box">
                <div class="dash-profile-img">
                    {%if user.profile.profile_picture %}
                    <img src="{{user.profile.profile_picture.url}}">

                    <div class="profice-pic-actions">
                        <button class="button-as-link js-upload-profile-pic" data-url="{% url 'upload_profile_picture'%}">Change photo</button>
                        <button class="button-as-link js-delete-p-pic" data-url="{% url 'delete_profile_picture'%}">Delete photo</button>
                    </div>
                    {% else %}
                    <label class="upload-profile-image"><button class="button-as-link js-upload-profile-pic" data-url="{% url 'upload_profile_picture'%}">Add photo</button></label>

                    {%endif %}
                    <div>
                        <span id="name_label">{{user.get_full_name}}</span>
                        <button class="button-as-link js-change-name" data-url="{% url 'change_name' user.pk %}">Change</button>
                    </div>
                </div>


                <ul class="nav nav-pills">
                    <li id="p" onclick="setActive(this.id)"><a data-toggle="pill" href="#profile">Profile</a></li>
                    <li id="s" onclick="setActive(this.id)"><a data-toggle="pill" href="#settings">Settings</a></li>
                    <li id="f" onclick="setActive(this.id)"><a data-toggle="pill" href="#favorite-elements">Favorites</a></li>
                    <li id="m_r" onclick="setActive(this.id)"><a data-toggle="pill" href="#recently-reviewed">My Ratings</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="tab-content col-md-12">
                    <div id="profile" class="tab-pane fade">

                        <div class="personal-information">
                            <h4>Profile details  <button class="button-as-link js-update-profile" data-url="{% url 'update_profile' user.pk %}">Edit</button></h4>
                            <p> <label>About me:</label>{% if user.profile.about_me %}
                                <span id="p_about_me">{{user.profile.about_me}}</span></p>
                            {%else%}
                            <span id="p_about_me_blank"> Your about me section is currently blank </span></p>
                            {%endif%}

                            <p> <label>City:</label> <span id="p_city">{{user.profile.city}}</span></p>
                            {% if user.profile.address %}
                            <p> <label>Address:</label> <span id="p_address">{{user.profile.address}}</span></p>
                            {% endif %}
                            {% if user.profile.phone_number %}
                            <p> <label>Phone number:</label> <span id="p_phone">{{user.profile.phone_number}}</span></p>
                            {% endif %}
                            <p> <label>Date of birth:</label> <span id="p_birth_date">{{user.profile.birth_date}}</span></p>
                            <p> <label>Gender:</label> <span id="p_gender">{{user.profile.gender}}</span></p>
                        </div>
                    </div>


                    <div id="favorite-elements" class="tab-pane fade">
                        <h2>My favorite elements</h2>



                        <ul class="favorite_elements_list" id="favorite_elements_list"  style="padding:0px;">
                            {% if favorite_elements %}


                            {% for favorites in favorite_elements %}

                            {% get_ref favorites.1.photos.0.photo_reference as ref %}

                            <li> 
                             <div class="row">
                              <div class="col-xs-6 col-md-3">

                               <a href="/element/{{favorites.1.place_id}}">

                                <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=150&maxwidht=100&photoreference={{ ref }}&key=AIzaSyDzCcuh5e2z9diD7o6jH0euGPVS-9GV6xk"/>
                                

                               </a>
                              </div>
                              <div class="element-name col-xs-6 col-md-9">
                               <a href="/element/{{favorites.1.place_id}}">{{favorites.1.name}}</a>

                                <span class="">
                            {% get_element favorites.1.place_id as element %}

                            {% get_element_review_category_mode element "General" as cat_mode %}
                            {% review_format cat_mode as formatted_review %}
                            {% for x in formatted_review.full_globes %}
                            <i class="rating-on"></i>
                            {% endfor %}
                            {% for x in formatted_review.empty_globes %}
                            <i class="rating-off"></i>
                            {% endfor %}
                               </span>
                              </div>
                             </div>
                            </li>



                            {% endfor %}
                            {%else%}
                            <span>You have not liked anything yet!</span>
                            {%endif%}

                        </ul>

                        {% if favorite_elements.has_other_pages %}
                        <ul class="pagination">
                            {% if favorite_elements.has_previous %}
                            <li><a href="?page={{ favorite_elements.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in favorite_elements.paginator.page_range %}
                            {% if favorite_elements.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                            <li><a href="?page_fav={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if favorite_elements.has_next %}
                            <li><a href="?page_fav={{ favorite_elements.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                    <div id="settings" class="tab-pane fade">

                        <div id="notification">

                        </div>
                        <!-- change password -->

                        <p>
                            <button class="button-as-link js-change-password"
                                    data-url = "change-password/">Change password</button>
                        </p>

                        <p>
                            <button class="button-as-link js-delete-account"
                                    data-url = "delete-account/">Delete Account</button>
                        </p>


                        <!--

                        <p>
                            <button class="button-as-link js-change-email"
                                    data-url="{% url 'change_email' %}">Change personal email</button>
                        </p>

                        -->

                        <!-- end change password -->

                    </div>
                    <div id="recently-reviewed" class="tab-pane fade">


                        <h3>My recently reviewed and rated entities</h3>



                        <ul class="reviewed_elements_list" id="reviewed_elements_list" style="padding:0px;">

                            {% if reviewed_elements %}

                            {% for rated_element in reviewed_elements %}
                            {% get_ref rated_element.1.photos.0.photo_reference as ref %}

                            <li> <a href="/element/{{rated_element.1.place_id}}">

                                <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=150&maxwidht=100&photoreference={{ ref }}&key=AIzaSyDzCcuh5e2z9diD7o6jH0euGPVS-9GV6xk"/>
                                {{rated_element.1.name}}

                            </a>

                                <span class="">
                            {% get_element rated_element.1.place_id as element %}

                            {% get_element_review_category_mode element "General" as cat_mode %}
                            {% review_format cat_mode as formatted_review %}
                            {% for x in formatted_review.full_globes %}
                            <i class="rating-on"></i>
                            {% endfor %}
                            {% for x in formatted_review.empty_globes %}
                            <i class="rating-off"></i>
                            {% endfor %}
                            </span>
                            </li>



                            {% endfor %}
                            {%else%}
                            <span>You have not reviewed anything yet!</span>
                            {%endif%}

                        </ul>
                        {% if reviewed_elements.has_other_pages %}
                        <ul class="pagination">
                            {% if reviewed_elements.has_previous %}
                            <li><a href="?page={{ reviewed_elements.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in reviewed_elements.paginator.page_range %}
                            {% if reviewed_elements.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                            <li><a href="?page_rev={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if reviewed_elements.has_next %}
                            <li><a href="?page_rev={{ reviewed_elements.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->

    <div class="modal fade" id="modal-dashboard">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="service-helper"></div>
    <!-- END MODAL -->
</div>
{% endblock %}
{%block js%}
<script>
$(document).ready(function(){
    if(localStorage.getItem("menu")) {
        $("#"+localStorage.getItem("menu")).addClass('active');
        if(localStorage.getItem("menu") == 'p') {
            $("#profile").addClass('in');
            $("#profile").addClass('active');
        } else if(localStorage.getItem("menu") == 'f') {
            $("#favorite-elements").addClass('in');
            $("#favorite-elements").addClass('active');
        } else if(localStorage.getItem("menu") == 's') {
            $("#settings").addClass('in');
            $("#settings").addClass('active');
        } else if(localStorage.getItem("menu") == 'm_r') {
            $("#recently-reviewed").addClass('in');
            $("#recently-reviewed").addClass('active');
        } else {
            $("#profile").addClass('in');
            $("#profile").addClass('active');
        }
    } else {
        $("#p").addClass('active');
    }

});
function setActive(active_id){
    localStorage.setItem("menu", active_id);
}
</script>
{% endblock js %}
