{% extends "base.html" %}
{%load staticfiles %}
{% load mptt_tags %}
{% load i18n %}
{% load view %}
{% load tags %}
{% load review_tags%}
{% load fastreview_tags %}
{%block links %}

<link href=" {% static 'css/sidebar.css' %}" rel="stylesheet">

{%endblock links %}
{% block main %}
{% include "oprapp/search_bar.html" %}
{% csrf_token %}

<div class="container" id="element-page">
    <div class="row-offcanvas row-offcanvas-left">
        <!--sidebar-->
        <div id="sidebar" class="sidebar-offcanvas">
            <div class="col-sm-12 col-md-12 sidebar-box">
                <div class="row title">
                    <h3 class="text-center">Rate your visit</h3>
                </div>

                <div class="row title-div">
                    <div class="title-text text-center">
                        <p>This is instant Rating - rate as many questions you want and then press Rate or for the complete rating categories and free form text input please
                            <button onclick="sendDataViaUrl()" class="go-to-review-link">click here</button>.
                        </p>
                    </div>
                </div>
                <div class="divider-title"></div>

                <form name ="fast-review-form" class="fast-review-form">
                    {% csrf_token %}
                    <input type="hidden" value="{{element_details.place_id}}" id="current_place_id">
                    <div class="row review-form-line generic-rating-wrapper general-text">
                        <label>Your General Sustainability Rating</label>

                        <div class="fieldWrapper rating general-rating" id="'general_rating" data-toggle="tooltip" data-placement="top" title="{% get_cat_desc_by_name 'General' element %}">
                            <input   class="rating-input" id="general_5" name="general_category" type="radio" value="5"/>
                            <label   for="general_5" class="rating-star">5</label>
                            <input   class="rating-input" id="general_4" name="general_category" type="radio" value="4"/>
                            <label   for="general_4" class="rating-star">4</label>
                            <input   class="rating-input" id="general_3" name="general_category" type="radio" value="3"/>
                            <label   for="general_3" class="rating-star">3</label>
                            <input   class="rating-input" id="general_2" name="general_category" type="radio" value="2"/>
                            <label   for="general_2" class="rating-star">2</label>
                            <input   class="rating-input" id="general_1" name="general_category" type="radio" value="1"/>
                            <label   for="general_1" class="rating-star">1</label>
                        </div>
                        <button class="button-as-link clear-button pull-right" data-toggle="tooltip" data-placement="right" title="Reset your rating"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <p class="validation-text"> Please rate general sustainability.</p>
                    </div>
                    <div class="row">
                        <div class="review-form-line">
                            <label for="id_Title">Your visit date</label>
                        </div>
                        <div class="review-form-line">
                            <div class="input-group date input-email" id="datepicker" data-date="" data-date-format="yyyy-mm-dd" style="border:0px;">
                                <input type='text' name="when" required="" placeholder="yyyy-mm-dd" id="id_when" class="form-control">
                                <span class="input-group-addon add-on">
                                <span class="fa fa-calendar"></span>
                            </span>
                            </div>
                            <p class="validation-text"> Please define a visit date.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="review-form-line">
                            <label for="id_Type">Your visit type</label>
                        </div>
                        <div class="review-form-line" id="typeSelect">
                            <input class="magic-radio radio-button" type="radio" name="radio" id="1" value="business">
                            <label for="1">Business</label>
                            <input class="magic-radio radio-button" type="radio" name="radio" id="2" value="family">
                            <label for="2">Family</label>
                            <input class="magic-radio radio-button" type="radio" name="radio" id="3" value="couple">
                            <label for="3">Couple</label>
                            <input class="magic-radio radio-button" type="radio" name="radio" id="4" value="friends">
                            <label for="4">Friends</label>
                            <input class="magic-radio radio-button" type="radio" name="radio" id="5" value="solo">
                            <label for="5">Solo</label>
                            <p class="validation-text"> Please select a visit type.</p>
                        </div>

                        <div class="divider"></div>
                        <div class="rating-questions-box" id="rating_questions_box"></div>
                        <div class="read-more sidebar-text">
                            <a id="load_more_questions" class="button-as-link">Show me more</a>
                        </div>
                        <div class="divider"></div>
                        <div class="review-form-line">
                            {% if request.user.is_authenticated %}
                            <button class="btn sidebar-btn" id="fast_review_submit">Rate</button>
                            {%else%}
                            <a style="color:white" href="{% url 'login' %}" class="btn">sign in to rate</a>
                            {%endif%}
                        </div>
                    </div>
                </form>

            </div>
            <div class="vertical-divider"></div>
        </div>

        <!-- end sidebar-->
        <!--main-->
        <div id="main">

            <div class="col-md-11 col-sm-12">

                <!-- element details -->

                <div class="row center">
                    <div class="col-md-5 col-xs-12">
                        <h2 id="details">{{element_details.name}}</h2>
                    </div>

                    <div class="col-md-3">
                        <button type="button" id="see_on_map" class="btn btn-lg result-btn custom-btn show-on-map" data-toggle="modal" data-target="#map-modal">See on map <span class="fa fa-map-marker"></span></button>
                    </div>

                    <div class="col-md-3">
                        <button type="button" id="add-review" onclick="sendDataViaUrl()" class="btn btn-primary result-btn custom-btn"
                                href="{% if type is None %}
                         {% url 'review_create' content_type='element' object_id=element.pk%}
                         {% else %}
                         {% url 'review_create' search_type=type content_type='element' object_id=element.pk%}
                         {% endif%}">Review this place <span class="fa fa-pencil"></span></button>
                    </div>
                </div>

                <div class="row">
                    {% get_element_review_category_mode element "General" as cat_mode %}
                    {% get_general_rating_category_description cat_mode as cat_title_desc %}
                    <div class="col-xs-12 rating-result" style="display:inline-block">
                        {% review_format cat_mode as formatted_review %}
                        <div class="rating-globes" data-toggle="tooltip" data-placement="left" title="{{cat_title_desc}}">
                            {% for x in formatted_review.full_globes %}
                            <i class="rating-on"></i>
                            {% endfor %}
                            {% for x in formatted_review.empty_globes %}
                            <i class="rating-off"></i>
                            {% endfor %}
                        </div>
                        <a id="go-to-reviews" href="#reviews-tab">
                            {% get_reviews_number element as review_number %}
                            {% if review_number is 1 %} {{review_number}} Review {% elif review_number > 1 %} {{review_number}} Reviews {%else%}No Reviews{%endif%}
                        </a>
                        <button type="button" class="btn see-more-collapse see-more" data-toggle="collapse" data-target="#demo">See more

                        </button>
                    </div>
                </div>
                <div class="row">
                    <!-- rating categories start -->
                    <div class="collapse col-md-12" id="element-specific-ratings">
                        <div class="detailed-rating-wrapper">
                            <ul style="padding:0px;">
                                {% recursetree categories %}
                                <li name="category-{{node.name}}" class="col-md-10 col-sm-10 col-xs-12" style="padding:0px;padding-bottom:8px">
                                    {%if node.name != "General"%}
                                    {% get_element_review_category_mode element node.name as cat_mode %}
                                    {% get_rating_cat_desc node.pk element as tooltip_text %}
                                    {% if node.is_leaf_node %}

                                    <div class="dropingdown col-md-5" style="float:left; background-color:transparent">
                                        <button  id="{{node.pk}}" style="background-color:transparent" class="dropbtn load-rated-questions">
                                            {{node.name}}
                                            <i class="dropDownIcon fa fa-chevron-down"></i>
                                        </button>

                                    </div>

                                    {%else%}
                                    <button class="accordion cat-accordion"><i class="glyphicon glyphicon-menu-down"></i> {{node.name}} </button>
                                    {%endif%}

                                    <span style="{% if node.is_leaf_node %}margin-left:14px{%endif%}" class="col-md-4 categories category" id="category_{{node.pk}}">
                                <!-- <span class="tooltiptext">Tooltip text</span> -->
                                {% review_format cat_mode as formatted_review %}
                                <div class="rating-globes"  data-toggle="tooltip" data-placement="right" title="{{tooltip_text}}">
                                    {% for x in formatted_review.full_globes %}
                                    <i class="rating-on"></i>
                                    {% endfor %}
                                    {% for x in formatted_review.empty_globes %}
                                    <i class="rating-off"></i>
                                    {% endfor %}
                                </div>
                            </span>
                                    {%endif%}
                                    {% if not node.is_leaf_node %}
                                    <div class="panel-accordion cat-panel-accordion">
                                        <ul class="children col-md-12 col-sm-12 col-xs-12">
                                            {{ children }}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </li>
                                {% endrecursetree %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- rating categories end -->
                <div class="row">
                    {% get_ratings_breakdown element as breakdown %}
                    <div class="col-md-5 col-sm-12 review-location">
                        {% for rating, number, percentage in breakdown %}
                        <div class="row">
                            <div class="rating-progress-label">{{ rating }}</div>
                            <div class="rating-progress progress">
                                <div class="progress-bar progress-back" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{ percentage | floatformat }}%"><span class="sr-only">20%</span>
                                </div>
                            </div>
                            <span class="review-percentage"> {{percentage}}%</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-7 col-sm-12 main-image" id="main_image" style="position:relative;">
                        {% get_ref element_details.photos.0.photo_reference as ref %}
                        <img class="img-responsive" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&maxwidht=400&photoreference={{ ref }}&key=AIzaSyDzCcuh5e2z9diD7o6jH0euGPVS-9GV6xk">
                        <div class = 'fav-icon'>
                            {% if request.user.is_authenticated %}
                            {% if element_is_favorite %}
                            <img src="{% static 'img/full.svg' %}" style = 'width:40px;height:40px;' onclick="removeFromFavorites()"/><fav>
                            {% else %}
                            <img src="{% static 'img/empty.svg' %}" style = 'width:40px;height:40px;' onclick="addToFavorites()"/><fav>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div id="service-helper"></div>
                    </div>
                </div>
                <!--address and reviews-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bd-example bd-example-tabs" role="tabpanel">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-expanded="false">Address</a>
                                </li>
                                <!--
                                <li class="nav-item">
                                    <a class="nav-link" id="deals-tab" data-toggle="tab" href="#deals" role="tab" aria-controls="deals" aria-expanded="false">Deals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="promotions-tab" data-toggle="tab" href="#promotions" role="tab" aria-controls="promotions" aria-expanded="false">Promotions</a>
                                </li>
                                 -->
                                <li class="nav-item">
                                    <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-expanded="false">Reviews</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div role="tabpanel" class="tab-pane fade active in" id="about" aria-labelledby="about-tab" aria-expanded="false">
                                    <p style="padding-top:10px;" id="about-tab-content">{{element_details.formatted_address}}<br/>
                                    </p>
                                </div>
                                <div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab" aria-expanded="false">
                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
                                        aesthetic
                                        magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                                </div>
                                <div class="tab-pane" id="promotions" role="tabpanel" aria-labelledby="promotions-tab" aria-expanded="false">
                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
                                        aesthetic
                                        magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                                </div>
                                <div class="tab-pane" id="reviews" role="tabpanel" aria-labelledby="reviews-tab" aria-expanded="false">
                                    <h3>OPR Reviews:</h3>
                                    <div class="review-rate-box">
                                        <p>Start your review</p>
                                        <button class="go-to-review-link" onclick="sendDataViaUrl()">
                                            <i class="rating-off"></i>
                                            <i class="rating-off"></i>
                                            <i class="rating-off"></i>
                                            <i class="rating-off"></i>
                                            <i class="rating-off"></i>
                                            <span>Click to rate</span>
                                        </button>
                                    </div>

                                    <div class="infinite-container voting-box col-md-12 col-sm-12 col-xs-12">

                                        {% for review in reviews %}

                                        <div class="infinite-item review-block voting-box col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img src="{% if review.user.profile.profile_picture.url != '' %}{{review.user.profile.profile_picture.url}} {%else%}/staticfiles/img/avatar.jpg{%endif%}" class="img-rounded">
                                                    <div class="review-block-name"><a>{{ review.user.get_full_name }}</a></div>
                                                    <h6 class="review-block-date">
                                                        {% format_date_time review.when as when %}
                                                        {% get_tailored_type_text review.type as tailored_text %}
                                                        Stayed: {{ when.0 }} {{ when.1 }} {{ when.2 }} {{tailored_text}}  {{review.type|lower}}</h6>
                                                </div>
                                                <div class="col-sm-10">
                                                    {% if review.ratings.all %}
                                                    {% for rating in review.ratings.all %}
                                                    {% if rating.get_rating_value is not None %}
                                                    {% if rating.category.name == "General" %}
                                                    {% get_rating_cat_desc rating.category.pk element as tooltip_text %}
                                                    {% review_format rating.get_rating_value as formatted_review %}
                                                    <div >
                                                        <div class="rating-globes" data-toggle="tooltip" data-placement="right" title="{{tooltip_text}}">
                                                            {% for x in formatted_review.full_globes %}
                                                            <i class="rating-on"></i>
                                                            {% endfor %}
                                                            {% for x in formatted_review.empty_globes %}
                                                            <i class="rating-off"></i>
                                                            {% endfor %}
                                                        </div>

                                                        <div class="dropingdown">
                                                            <button  id="{{review.pk}}" class="dropbtn display-review-questions">
                                                                <i class="dropDownIcon fa fa-chevron-down"></i>
                                                            </button>

                                                        </div>

                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="review-title-box">
                                                        <span class="review-title">{% if review.title %} <i>"{{review.title}}"</i>{% endif %}</span>
                                                    </div>
                                                    <div class="review-block-description">
                                                        {{ review.content }}
                                                    </div>
                                                    <div class="col-md-12 specific-ratings-block" style="padding:0px;">
                                                        <h5>Specific Ratings</h5>
                                                        <div class="detailed-rating-wrapper col-md-12 col-sm-12 col-xs-12">
                                                            <ul style="padding:0px;">
                                                                {% recursetree categories %}
                                                                <li name="category-{{node.name}}" class="col-md-10 col-sm-10 col-xs-12" style="padding:0px">
                                                                    {%if node.name != "General"%}
                                                                    {%get_individual_review_ratings review node.name as rated_cat%}
                                                                    {% get_rating_cat_desc node.pk element as tooltip_text %}
                                                                    {% if rated_cat or not node.is_leaf_node %}
                                                                    {% validate_rated_cat_value rated_cat as value%}
                                                                    {% review_format value as formatted_review %}
                                                                    <button class="accordion cat-accordion" style="background-color: transparent !important;">{% if not node.is_leaf_node %}<i class="glyphicon glyphicon-menu-down"></i>{%endif%} {{ node.name }}</button>
                                                                    <span
                                                                            class="col-md-5 categories category" id="category_{{node.pk}}"  data-url="{% url 'get_category_help_text' %}">
                                                            <!-- <span class="tooltiptext">Tooltip text</span> -->
                                                            <div class="rating-globes"  data-toggle="tooltip" data-placement="right" title="{% if value is not 0 %}{{tooltip_text}}{%endif%}">
                                                                {% for x in formatted_review.full_globes %}
                                                                <i class="rating-on"></i>
                                                                {% endfor %}
                                                                {% for x in formatted_review.empty_globes %}
                                                                <i class="rating-off"></i>
                                                                {% endfor %}
                                                            </div>
                                                        </span>
                                                                    {%endif%}
                                                                    {%endif%}
                                                                    {% if not node.is_leaf_node %}
                                                                    <div class="panel-accordion cat-panel-accordion" style="background-color: transparent">
                                                                        <ul class="children col-md-12 col-sm-12 col-xs-12">
                                                                            {{ children }}
                                                                        </ul>
                                                                    </div>
                                                                    {% endif %}
                                                                </li>
                                                                {% endrecursetree %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {%vote_exists review request.user 0 as has_voted_up   %}
                                                    {%vote_exists review request.user 1 as has_voted_down %}
                                                    <div class="voting-box col-md-12 col-sm-12 col-xs-12">
                                                        <p><button class="button-as-link js-up-vote helpful {% if has_voted_up %}active_vote{%endif%}" name="like"   data-url="{% url 'like_dislike' review.id %}"><i class="fa fa-thumbs-up thumb"></i>Helpful?<span id="num-likes-{{review.id}}">{{review.num_vote_up}}</span></button></p>
                                                        <!--
                                                        <p>
                                                        <button class="js-down-vote button-as-link {% if has_voted_down %}active_vote{%endif%}" name="dislike" data-url="{% url 'like_dislike' review.id %}">
                                                        <i class="fa fa-thumbs-down thumb"></i></button> <span id="num-dislikes-{{review.id}}">{{review.num_vote_down}}
                                                        </span></p>
                                                        -->
                                                    </div>
                                                    <div class="hori-divider"></div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    {% if reviews.has_next %}
                                    <a class="infinite-more-link" href="?page={{ reviews.next_page_number }}"></a>
                                    {% endif %}

                                    <div class="loading" style="display: none; text-align: center">
                                        <h3>Loading...</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--main end -->
    </div>

</div>


<!--sidebar mobile version
<div id="popUp" class="hidden-sm hidden-md hidden-lg">
    To what extent is the hotel powered by alternative energy sources like wind and solar power?
    <div class="rating-globes">
        <i class="rating-on"></i>
        <i class="rating-on"></i>
        <i class="rating-on"></i>
        <i class="rating-on"></i>
        <i class="rating-off"></i>
    </div>
    <div id="myPopup" class="ui-content">
        <button id="myClose"><i class="fa fa-times fa-1x" aria-hidden="true"></i>
        </button>
    </div>
</div>
end of sidebar mobile version-->


<div class="modal fade" id="map-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="map-header"></h4>
            </div>
            {#<div class="modal-body">#}
            <iframe id="map-frame" class="col-md-12 map-frame" src=""></iframe>
            {# </div>#}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="fast_review_confirm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="map-header"></h4>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:white;">
                <div class="text-center text-under-line" style="border-bottom:none;">
                    <h3>Thanks for posting a review!</h3>
                    <h4 style="color:#3198cc;">You're saving the world, one review at a time</h4>
                </div>
                <div class="col-md-12" style="text-align:center">
                    <h4>This is the summary of your ratings for {{element_details.name}}</h4>
                </div>
                <div class="summary-review col-md-12" style="padding-left:31%">
                    <div class="col-md-7">
                        <span> General sustainability rating </span>
                        <ul class="treeview" id="general-rating-tree">
                        </ul>
                    </div>
                    <div class="questions-confirm-box col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

{%block js%}
<script src="{% static 'js/sidebar.js' %}" ></script>
<script src="{% static 'js/review-form-autofill.js' %}" ></script>

<script type="text/javascript">

        function setUpMap() {
            var service = new google.maps.places.PlacesService($('#service-helper').get(0)); // note that it removes the content inside div with tag '#service-helper'
            service.getDetails({
                placeId: '{{ place_id }}'  // get a placeId using https://developers.google.com/places/web-service/place-id
            }, function (place, status) {

                if (status === google.maps.places.PlacesServiceStatus.OK) {
                      // create dynamic map frame src
                    $("#map-frame").attr("src", "https://www.google.com/maps/embed/v1/place?key=AIzaSyAwAaru_f4-6PI4mgdqTHJ1Um985NOEYjE&q=place_id:"+place.place_id);
                    $("#map-header").html(place.name);
                }
            });
        }


        function getUrlParams(){
        var url = window.location.href;
        var params = url.split('/');
        reviews = params.slice(-1).pop();
        if (reviews ==1){
        $("#go-to-reviews").click();
        url = url+"#reviews-tab";
        window.location.href = url;
        }



        }

        function addToFavorites(){
              $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
              });
              $.ajax({
                url: '/add-to-favorites',
                type: 'POST',
                data: {'place_id': '{{place_id}}', 'csrfmiddlewaretoken': $( "#csrfmiddlewaretoken" ).val()},
                success: function (data) {

                },
            });

            src = "{% static 'img/full.svg' %}";

            $('.fav-icon').html('<img src="'+src+'" style = "width:40px;height:40px;" onclick="removeFromFavorites()"/><fav>');
        }

        function removeFromFavorites(){
              $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
              });

              $.ajax({
                url: '/remove_from_favorites',
                type: 'POST',
                data: {'place_id': '{{place_id}}', 'csrfmiddlewaretoken': $( "#csrfmiddlewaretoken" ).val()},
                success: function (data) {

                },
            });
            src = "{% static 'img/empty.svg' %}";
            $('.fav-icon').html('<img src="'+src+'" style = "width:40px;height:40px;" onclick="addToFavorites()"/><fav>');
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
         // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }




           $(document).ready(function (){
            getUrlParams();
            $("#see_on_map").on('click', setUpMap)
            $('#sandbox-container .input-group.date').datepicker({});
        });


        // fast rating part


         $('.show_more').on('click', function(){
            $('.disabled').addClass('showed');
            $('.disabled').removeClass('disabled');
            $(this).addClass('hide_more');
            $(this).removeClass('show_more');
            $(this).html('Hide');

        });



    </script>
{% endblock js %}
