{% extends 'base.html' %}

{%block content %}
<div class="wrapper register-login-wrapper">
    <div class="container">
        <div class="row">
            <p>Thanks for taking the time to give us feedback. Your feedback is valuable to us </p>
    </div>
    </div>
</div>

{% endblock %}

