{% extends "base.html" %}
{% load staticfiles %}
{%block content %}
<div class="wrapper">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12 feedback-box">
            <form method="post" action="{% url 'give_feedback' %}" class="js-change-password-form">
                {% csrf_token %}

                <div class="page-header">
                    <h3>Give Us Feedback about an One Planet Rating Feature</h3>
                </div>
                <p>Let us know how we can improve One Planet Rating</p>
                {% load widget_tweaks %}
                {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{{field.label}}</label>
                    {% render_field field class="form-control"%}
                    {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="pull-right"><button type="submit" class="btn btn-primary">Send feedback</button></div>
            </form>
        </div>
    </div>
</div>
</div>


{% endblock %}