{# Load the tag library #}
{% extends "base.html" %}
{% block main %}

    {% load bootstrap3 %}
    {% load tags %}

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="main-content">
                    <form id="index-form" class="form search_form" action="/" method="post">
                        {%csrf_token%}
                        <div class="cc-selector" id="index_css_selector">
                            {% for search_cat in search_categories %} {% get_icon_value search_cat.icon as search_cat_icon %} {% if search_cat_icon%}
                            <input id="{{search_cat.name}}" type="radio" name="type" value="{{search_cat.name}}">
                            <label class="type" for="{{search_cat.name}}" style="background-image: url(staticfiles/svg/{{search_cat_icon}});"></label>
                            {% endif %} {% endfor %}
                            <input id="helper_search_type" type="radio" name="type" value="" style="display:none">
                        </div>
                        <div class="row search-area">
                            <div class="col-xs-12 col-lg-offset-2 col-lg-8" id="search_input">
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label="..." name="Place" id="id_Place" placeholder="">
                                    <div class="input-group-btn">
                                        <button type="submit" id="search_btn" class="btn btn-secondary">Search {{search_categories.0.name}}</button>
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu search-categories-list">
                                            {% for search_cat in search_categories %}
                                            <li><a>{{search_cat.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <div class="hashtag-text">
                                    <h1>Ratings. Reviews. Rewards.</h1>
                                    <h3>#SustainableTourism</h3>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{%block js%}


<script>

    (function (){

       var active_cat = document.querySelector(".cc-selector input");
       active_cat.setAttribute("checked", "checked")
       $("#id_Place").attr("placeholder", "City or place name")



// basic ajax call to test API methods

      $.ajax({
    url: 'https://www.oneplanetrating.org/api/rest-auth/get-user/',
    headers: {
        'Authorization':'Token d18bc9b98f7736ef919cebeceb228d71796157fe',
        'Content-Type':'application/json'
    },
    method: 'GET',
    dataType: 'json',
    success: function(response){
      console.log(response);
    }
  });

  // end

      })();



</script>
{%endblock js%}
