{% extends "base.html" %}
{% load staticfiles %}
{%block content %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 feedback-box">
                <form method="post" action="{% url 'invite_friend' %}">
                    {% csrf_token %}

                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}

                    <div class="page-header">
                        <h3>Invite a friend to One Planet Rating</h3>
                    </div>
                    <p>Enter your friend's email address to send him an invitation to join OPR</p>
                    {% load widget_tweaks %}
                    {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label>{{field.label}}</label>
                        {% render_field field class="form-control"%}
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="pull-right"><button type="submit" class="btn btn-primary">Send invitation</button></div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}