{% extends 'base.html' %}

{%block content %}
<div class="wrapper register-login-wrapper">
    <div class="container">
        <div class="row">
            <p>Thanks for taking the time to help OPR grow. Your friend will receive an invitation email from OPR team, with a link to create an account</p>
        </div>
    </div>
</div>
{% endblock %}
