<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    {% load i18n %}
    {% load tags %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://{{get_site_url}}{% static 'css/email_welcome.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="text-center">
        <div class="col-md-12 welcome-title"  style="text-align: center;  padding-top: 30px;
    padding-bottom: 20px;">
            <h1 style="  font-family: 'Roboto', sans-serif;" class="text-center">Be one of the first to join One Planet Rating</h1>
        </div>

        <div class="col-md-6 col-md-offset-3" style="width: 50%;margin-left: 30%;">
            <img src="cid:logo-side-text.png" alt="opr-logo" class="brand-logo" style="width: 75%;">
        </div>

    </div>
    <div class="col-md-6 col-md-offset-1 aurora-img text-center" style="width: 100%">
        <img src="cid:aurora_with_activities.png" alt="aurora image" class="img-responsive"  style="width: 100%">
    </div>

    <div class="col-md-6 col-md-offset-1 content text-center" style="padding: 0px 10px 20px 12px;">
        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            Your early access invite to One Planet Rating (beta) is here!</p>
        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            With this special early access, you are among a select group that will help accelerate our movement towards sustainable tourism. </p>
        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            Our first 500 users will automatically be elevated to the second membership level later this year as we begin our membership program. This means you’ll also be the first to receive special discounts and offers on travel and sustainability products.
        </p>

        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            We’re still rolling out new features and improving the service, so don't hesitate to give us a shout with suggestions of your own.
        </p>

        <p style=" font-size: 15px; font-weight: 900;font-family: 'Roboto', sans-serif;text-align: left;padding-top: 10px;">
            Happy rating! Let’s make travel more sustainable, one review at a time.
        </p>
        <div class="" style="margin: 40px 0px 20px 0px; text-align:center;">
            <a  href="http://{% get_site_url %}/accounts/register/" target="_blank" style="padding: 20px;
          border: solid 1px transparent;
          background-color: #3198cc;
          color: white;
          text-decoration: none;
          border-radius: 3px;">ACCEPT INVITATION
            </a>
        </div>
    </div>

    <hr class="col-md-10 col-md-offset-1" style="
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-color: #356a70;
    border-width: 2px;">
    <div class="col-xs-12 text-center links" style="font-size: 18px; padding: 0px 10px 0px 15px; text-align:center;">
        Go to
        <a href="http://{% get_site_url %}" target="_blank" style="color: black; text-decoration: none;">OPR</a> |
	<a href="http://{% get_site_url %}/help/category/3" target="_blank" style="color: black; text-decoration: none;">FAQ</a> |
        <a href="http://{% get_site_url %}/legal/privacy" target="_blank" style="color: black; text-decoration: none;">Privacy Policy</a> |
        <a href="http://www.oneplanetrating.com/" target="_blank" style="color: black; text-decoration: none;">Corporate site</a>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center icons" style="padding-top: 15px; text-align: center; padding-bottom: 70px;">
        <a href="https://www.facebook.com/oneplanetrating/" target="_blank"><img style="height: 50px;padding: 20px;" src="cid:facebook-email.png" alt="facebook"></a>
        <a href="https://twitter.com/OnePlanetRating" target="_blank"><img style="height: 50px;padding: 20px;" src="cid:twitter-email.png" alt="twitter" ></a>
        <a href="https://www.instagram.com/oneplanetrating/" target="_blank"><img style="height: 50px;padding: 20px;" src="cid:instagram-email.png" alt="instagram"></a>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>

