{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
<div class="container">

    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:100px; margin-bottom:100%">
        <p>This page does not exist</p>
    </div>
</div>
{% endblock %}
{%block js%}
{%endblock js%}