<div class="search-bar" style="{%if request.user.is_authenticated%} margin-top: 76px; {%else%} margin-top: 66px;{%endif%}">
    <div class="container">
        <form action="/" class="form search_form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <select class="form-control " name="type" id="selector">
                            {% for search_cat in search_categories %}
                            <option>{{search_cat.name}}</option>
                            {%endfor%}
                        </select>
                        <input type="text" id="id_Place" class="search-bar-text form-control" name="Place" placeholder="City or place name">
                        <span class="input-group-btn">
                         <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>