{% extends "base.html" %}
{% block main %}
{% load tags %}
{% load staticfiles %}
{% load bootstrap3 %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% include "oprapp/search_bar.html" %}
<div class="container">
    <!-- will need it in version 2 of specifications

    <div class="col-md-3 min-rating" style="display: none;">
        <div class="panel panel-form">
            <div class="panel-body text-center">
                <div class=" text-center">
                    <h4>Filter by rating</h4>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <input class="rating-input" id="category_0_0" name="category_0" type="radio" value="5">
                        <label for="category_0_0" class="rating-star">5</label>

                        <input class="rating-input" id="category_0_1" name="category_0" type="radio" value="4">
                        <label for="category_0_1" class="rating-star">4</label>

                        <input class="rating-input" id="category_0_2" name="category_0" type="radio" value="3">
                        <label for="category_0_2" class="rating-star">3</label>

                        <input class="rating-input" id="category_0_3" name="category_0" type="radio" value="2">
                        <label for="category_0_3" class="rating-star">2</label>

                        <input class="rating-input" id="category_0_4" name="category_0" type="radio" value="1">
                        <label for="category_0_4" class="rating-star">1</label>
                    </div>
                </div>
            </div>
        </div>
    </div>-->



    <div class="col-md-12 col-sm-12 col-xs-12">


        <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12 no-padding">
            <ul class="sort-wrapper">
                <li class="sort-header">Sort by :</li>
                <li class="sort-element active" data-toggle="tooltip" data-placement="top" title="Coming soon">One Planet Rating</li>
                <li class="sort-element" data-toggle="tooltip" data-placement="top" title="Coming soon">Most Popular</li>
                <!-- <li class="sort-element" data-toggle="tooltip" data-placement="top" title="Coming soon">Price and Availability</li> -->
                <li class="sort-element" data-toggle="tooltip" data-placement="top" title="Coming soon">Featured</li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            <button class="view-on-map" id="view-on-map"><span>View on map</span></button>
        </div>

        {#{% remove_duplicates result as result %}#}
        <ul id="search-result" class="col-md-9 col-sm-9 col-xs-12">
            {% for category in result %}
            {% for x in category %}
                <li class="row result-element">
                        <div class="col-md-3 col-xs-12 search-photo">
                            {% get_ref x.photos.0.photo_reference as ref %}
                            <img style="height: 140px; width: 180px" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=200&maxwidht=180&photoreference={{ ref }}&key=AIzaSyDzCcuh5e2z9diD7o6jH0euGPVS-9GV6xk">
                        </div>
                        <div class="col-md-5 col-xs-12">

                            <h4 class="hotel-name"><a href="
                            {% if type is None %}
                            {% url 'element_view' place_id=x.place_id%}
                            {%else%}
                            {% url 'element_view' place_id=x.place_id search_type=type %}
                            {% endif%}
                             " class="hotel-name">{{ x.name }}</a></h4>
                            {% get_element x.place_id as element %}
                            {% get_element_review_category_mode element "General" as cat_mode %}
                            {% review_format cat_mode as formatted_review %}
                            <span>
                                {% for x in formatted_review.full_globes %} 
                                <i class="rating-on"></i>
                                {% endfor %}
                                {% for x in formatted_review.empty_globes %}
                                <i class="rating-off"></i>
                                {% endfor %}
                            </span>

                            <span>
                                <a  href=" {%if type is None %}
                                           {% url 'element_view' place_id=x.place_id reviews=1 %}
                                           {%else%}
                                           {% url 'element_view' place_id=x.place_id search_type=type reviews=1 %}
                                           {%endif%}" class="element-review">
                                    ( {% get_reviews_number element as review_number %}
                                    {% if review_number is 1 %}
                                    {{review_number}} Review
                                    {% elif review_number > 1 %}
                                    {{review_number}} Reviews
                                    {%else%}No Reviews{%endif%})
                                </a>
                            </span>
                            <!--<h5 style="display: inline;">score : {{ formatted_review.score }}</h5>-->
                        </div>

                    <div class="col-md-4 col-xs-12 pull-right">
                        <input type="hidden" class="place_name_map" value="{{x.name}}">
                        <a type="button" class="btn btn-default btn-lg col-md-8 custom-btn"
                           href="{% if type is None %}
                            {% url 'element_view' place_id=x.place_id%}
                            {%else%}
                            {% url 'element_view' place_id=x.place_id search_type=type %}
                            {% endif%}">View and Rate</a>
                    </div>
                </li>
                <br> 
            {% endfor %}
            {% endfor %}
        </ul>

        <div id="map_wrapper" class="col-md-9 col-sm-9 col-xs-12 no-padding">
            <div id="map_canvas" class="mapping"></div>
        </div>
        <div class="map-infobox" id="map-infobox">
            <div class="map-infobox-wrapper row">
                <div class="map-infobox-imgbox col-md-3 col-xs-12">
                    <img src="">
                </div>
                <div class="map-infobox-contentbox ">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                    <h4 class="hotel-name"></h4>
                    <ul></ul>
                    <span id="review_number_map"></span>
                    <span></span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
                        <a id="view_rate_map" type="button" style="margin-left: 70px;" class="btn btn-default btn-lg custom-btn" href="">View and Rate</a>
                    </div>

                </div>
            </div>
            <a class="map-infobox-close">x</a>
        </div>
    </div>
</div>
{% endblock %}
{%block js%}
<script>
     /* display a map popup modal for every element */
    (function () {
    $("#view-on-map").on("click", function initialize() {
    if ($(this).hasClass("list-elements")){
    $(this).find("span").html("View on map");
    $("#search-result").fadeIn(1000);
    $("#map_wrapper").fadeOut(1000);
    $(this).removeClass("list-elements");
    $("#map-infobox").css({display: "none"});
    }else{
    $("#search-result").fadeOut(1000);
    $("#map_wrapper").fadeIn(1000);
    $(this).find("span").html("See list");
    $(this).addClass("list-elements");
    // Multiple Markers
     var markers =[]
                 {% for category in result %}
                 {% for place in category %}
                 // get reviews number
                 {% get_element place.place_id as element %}
                 {% get_reviews_number element as review_number%}
                 {% get_element_review_category_mode element "General" as cat_mode %}
                     markers.push({
                      name: "{{place.name}}",
                      lat: "{{place.geometry.location.lat}}",
                      lng: "{{place.geometry.location.lng}}",
                      place_id: "{{place.place_id}}",
                      photo_ref:"{{place.photos.0.photo_reference}}",
                      review_number: "{{review_number}}",
                      mode: "{{cat_mode}}",
                      })
                 {% endfor %}
                 {% endfor %}
    //var bounds = new google.maps.LatLngBounds();
    // Display a map on the page
    var map = new google.maps.Map(document.getElementById("map_canvas"),{
        center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
        mapTypeId: 'roadmap',
        tilt: 45,
        fullscreenControl: false
    });
    //Create LatLngBounds object.
        var latlngbounds = new google.maps.LatLngBounds();
    // Info Window Content
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    // Loop through our array of markers & place each one on the map
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(parseFloat(markers[i]["lat"]), parseFloat(markers[i]["lng"]));
        var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i]["name"]
        });
        //extend the bounds to include each marker's position
        latlngbounds.extend(marker.position);
        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'mouseover', (function(marker, i){
            return function(){
                 p_id= markers[i].place_id
                 p_name=markers[i].name
                infoWindow.setContent("<div style='width:200px;min-height:20px; '>"+p_name+"</div>");
                infoWindow.open(map, marker);
            }
        })(marker, i));
        // close window on mouse out
        google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
            return function() {
                infoWindow.close(map, marker);
            }
        })(marker, i));
        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
            $("#map-infobox").css({display: "block"});
            photo_ref = markers[i].photo_ref
            $(".map-infobox-imgbox").find("img").attr("src","https://maps.googleapis.com/maps/api/place/photo?maxheight=100&maxwidht=100&photoreference="+photo_ref+"&key=AIzaSyDzCcuh5e2z9diD7o6jH0euGPVS-9GV6xk")
                  {% for category in result %}
                  {% for place in category %}
                 if(markers[i].place_id == "{{place.place_id}}"){
                 // delete the previous rating globes
                 var ratings = $(".map-infobox-contentbox ul li");
                 if(ratings.length >0){
                 ratings.each(function( index ) {
                 $(this).remove();
                 });
                 }
                 // end
                    {% get_element place.place_id as element %}
                    {% get_reviews_number element as review_number%}
                    {% get_element_review_category_mode element "General" as cat_mode %}
                    {% review_format  cat_mode as formatted_review %}
                    {% for x in formatted_review.full_globes %}
                    $(".map-infobox-contentbox").find("ul").append("<li><i class='rating-on'></i><li>");
                     {% endfor %}
                     {% for x in formatted_review.empty_globes %}
                    $(".map-infobox-contentbox ul").find("ul").append("<li><i class='rating-off'></i><li>");
                     {% endfor %}
                 }
                 {% endfor %}
                 {% endfor %}
            $(".map-infobox-contentbox").find("h4").html("<a href='/element/"+markers[i].place_id+"'>"+markers[i].name+"</a>");
            $("#view_rate_map").attr("href","/element/"+markers[i].place_id);

                         if (parseInt(markers[i].review_number)==0 || markers[i].review_number =="" ){
                             $("#review_number_map").html("No Reviews");
                         } else if(parseInt(markers[i].review_number) ==1 ){
                            $("#review_number_map").html(parseInt(markers[i].review_number)+" Review");
                         }else{
                         $("#review_number_map").html(parseInt(markers[i].review_number)+" Reviews");
                         }
            $("#map-infobox")[0].scrollIntoView({
            behavior: "smooth", // or "auto" or "instant"
            block: "start" // or "end"
            });
            var myLatlng = {lat: parseFloat(markers[i].lat), lng: parseFloat(markers[i].lng)};
            map.setCenter(myLatlng);
            }
        })(marker, i));
        //Get the boundaries of the Map.
        var bounds = new google.maps.LatLngBounds();
        }
     //Set the center of the map.
     map.setCenter(latlngbounds.getCenter());
     //now fit the map to the newly inclusive bounds
     map.fitBounds(latlngbounds);
     }// end else
     // might be moved to main.js
     $(".map-infobox .map-infobox-close").on("click", function(){
        $("#map-infobox").css({display: "none"});
     })
});
    }());
</script>
{%endblock js%}